<app-landinglogo></app-landinglogo>
<div class="banner-one-parent">
  <div class="banner-one"></div>
  <section class="container">
    <div class="row">
      <div class="col-sm">
        <app-login-img></app-login-img>
      </div>
      <div class="col-sm">
        <div class="pl-5vh form-control-width box-shadow mb-2">
          <div class="text-start mb-6 mt-3">
            <h3>Forgot Password ?</h3>
          </div>
          <form class="login-form mt-4">
            <div class="mb-3">
              <label for="mobile-number" class="form-label"
                >Mobile Number</label
              >
              <input
                type="number"
                class="form-control"
                id="mobile-number"
                placeholder="Enter Mobile Number"
              />
            </div>
            <div class="mb-3">
              <label for="otp" class="form-label"
                >OTP</label
              >
              <input
                type="number"
                class="form-control"
                id="otp"
                placeholder="Enter OTP"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="number"
                class="form-control"
                id="password"
                placeholder="Set Password"
              />
            </div>
            <div class="mb-5">
              <label for="confirm-password" class="form-label"
                >Confirm password</label
              >
              <input
                type="number"
                class="form-control"
                id="confirm-password"
                placeholder=" Confirm Password"
              />
            </div>
            <button class="login-submit-btn btn mb-2">Log In</button>

            <div class="agree-text mt-4">
              <p class="text-center fs-6">
                New to Local?<a href="" class="text-orange text-decoration-none"
                  >Create your account</a
                >, <br />
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
