<div class="store_nav_content">
  <div
    class="mx-3 mt-4 nav-text cursor-pointer {{
      selectedNavItem === 'o' ? 'active' : ''
    }}"
    (click)="getNavItem('o')"
  >
    Order Online
  </div>
  <div
    class="mx-3 mt-4 nav-text cursor-pointer {{
      selectedNavItem === 'i' ? 'active' : ''
    }}"
    (click)="getNavItem('i')"
  >
    Info
  </div>
  <div
    class="mx-3 mt-4 nav-text cursor-pointer {{
      selectedNavItem === 'r' ? 'active' : ''
    }}"
    (click)="getNavItem('r')"
  >
    Reviews
  </div>
  <div
    class="mx-3 mt-4 nav-text cursor-pointer {{
      selectedNavItem === 'c' ? 'active' : ''
    }}"
    (click)="getNavItem('c')"
  >
    Coupons
  </div>
  <!-- <div><input type="search" placeholder="Search for Products"></div> -->
  <div class="mx-2 my-2 nav-text">
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for Products"
      />
    </form>
  </div>
</div>
<div
  class="flex"
  style="max-width: 1200px; min-width: 1200px; position: relative"
  *ngIf="selectedNavItem === 'o'"
>
    <div class="left-nav">
      <ul class="nav flex-column">
        <li
          class="nav-item todays-deal cursor-pointer {{
            selectedLeftNavItem === 'todays-deal' ? 'active-left-nav' : ''
          }}"
        >
          <div
            (click)="getLeftNavItem('todays-deal')"
            class="my-3 header-group"
          >
            Today's Deals
          </div>
        </li>
        <li class="nav-item">
          <div class="my-3 header-group">Categories</div>
        </li>
        <li
          *ngFor="let item of leftNavItems"
          class="nav-item {{
            selectedLeftNavItem === item ? 'active-left-nav' : 'inactive-left-nav'
          }}"
        >
          <div
            (click)="getLeftNavItem(item)"
            class="my-2 nav-items cursor-pointer"
          >
            {{ item }}
          </div>
        </li>
      </ul>
    </div>
    <div
      style="
        margin: 55px 0 0 30px;
        display: flex;
        width: 700px;
        gap: 50px;
        flex-wrap: wrap;
      "
    >
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>15%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Coriander.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Coriander</div>
        <div class="item-weight">250 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹27</div>
            <div class="item-old-price"><del>₹30</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span
              style="
                color: #5bb600;
                width: 35px;
                text-align: center;
                width: 35px;
                text-align: center;
              "
              >{{ itemCount }}</span
            >
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Cauliflower.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Cauliflower</div>
        <div class="item-weight">1 Piece</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹48</div>
            <!-- <div class="item-old-price"><del>₹30</del></div> -->
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/French beans.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">French beans</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹12</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>10%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Carrot.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Carrot</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹26</div>
            <div class="item-old-price"><del>₹30</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Tomato.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Tomato</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹7.50</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Onions.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Onions</div>
        <div class="item-weight">1 kg</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹36</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>16%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Brinjal.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Brinjal</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹18</div>
            <div class="item-old-price"><del>₹20</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>15%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Coriander.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Coriander</div>
        <div class="item-weight">250 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹27</div>
            <div class="item-old-price"><del>₹30</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Cauliflower.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Cauliflower</div>
        <div class="item-weight">1 Piece</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹48</div>
            <!-- <div class="item-old-price"><del>₹30</del></div> -->
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/French beans.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">French beans</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹12</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>10%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Carrot.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Carrot</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹26</div>
            <div class="item-old-price"><del>₹30</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Tomato.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Tomato</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹7.50</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Onions.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Onions</div>
        <div class="item-weight">1 kg</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹36</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>16%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Brinjal.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Brinjal</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹18</div>
            <div class="item-old-price"><del>₹20</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>15%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Coriander.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Coriander</div>
        <div class="item-weight">250 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹27</div>
            <div class="item-old-price"><del>₹30</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Cauliflower.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Cauliflower</div>
        <div class="item-weight">1 Piece</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹48</div>
            <!-- <div class="item-old-price"><del>₹30</del></div> -->
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/French beans.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">French beans</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹12</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>10%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Carrot.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Carrot</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹26</div>
            <div class="item-old-price"><del>₹30</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Tomato.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Tomato</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹7.50</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div></div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Onions.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Onions</div>
        <div class="item-weight">1 kg</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹36</div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="flex" style="justify-content: space-between; height: 77px">
          <div>
            <div class="offer-tag">
              <div class="offer-text">
                <div>16%</div>
                <div>Off</div>
              </div>
            </div>
          </div>
          <div style="margin: 10px 10px 0 0">
            <i class="fa-solid fa-heart heart-color"></i>
          </div>
        </div>
        <div style="width: 80px; height: 80px; margin: auto">
          <img
            src="../../../assets/images/store-images/Brinjal.png"
            width="80px"
            height="80px"
            alt="Coriander"
          />
        </div>
        <div class="item-name">Brinjal</div>
        <div class="item-weight">500 gms</div>
        <div class="flex" style="justify-content: space-between">
          <div>
            <div class="item-price">₹18</div>
            <div class="item-old-price"><del>₹20</del></div>
          </div>
          <div *ngIf="itemCount === 0" class="add-item cursor-pointer">
            <div (click)="increment()" class="add-item-text">Add +</div>
          </div>
          <div *ngIf="itemCount !== 0" class="added-to-cart">
            <span
              (click)="decrement()"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span style="color: #5bb600; width: 35px; text-align: center">{{
              itemCount
            }}</span>
            <span
              (click)="increment()"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
        </div>
      </div>
    </div>
  <div class="added-items">
    <div
      style="
        background: #eff8e5;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        height: 36px;
      "
    >
      <span style="color: #5bb600; line-height: 30px"
        >Items from Bhabji Sabji</span
      >
    </div>
    <div class="cart-items">
    <div class="flex mt-3">
      <div style="width: 85.51px;">
        <div class="item-name" style="font-size: 14px">Coriander</div>
        <div class="item-weight" style="font-size: 12px">250 gms</div>
      </div>
      <div
        class="flex mt-1"
        style="height: 18px; margin-left: 17px; font-size: 12px"
      >
        <span (click)="decrement()" class="increment-decrement cursor-pointer"
          >-</span
        >
        <span style="color: #5bb600; width: 35px; text-align: center">{{
          itemCount
        }}</span>
        <span (click)="increment()" class="increment-decrement cursor-pointer"
          >+</span
        >
      </div>
      <div>
        <div class="item-price" style="font-size: 14px">₹27</div>
        <div class="item-old-price" style="font-size: 12px"><del>₹30</del></div>
      </div>
    </div>
    <div class="horizontal-line mt-2"></div>
    <div class="flex mt-3">
      <div style="width: 85.51px;">
        <div class="item-name" style="font-size: 14px">Carrot</div>
        <div class="item-weight" style="font-size: 12px">500 gms</div>
      </div>
      <div
        class="flex mt-1"
        style="height: 18px; margin-left: 17px; font-size: 12px"
      >
        <span (click)="decrement()" class="increment-decrement cursor-pointer"
          >-</span
        >
        <span style="color: #5bb600; width: 35px; text-align: center">{{
          itemCount
        }}</span>
        <span (click)="increment()" class="increment-decrement cursor-pointer"
          >+</span
        >
      </div>
      <div>
        <div class="item-price" style="font-size: 14px">₹26</div>
        <div class="item-old-price" style="font-size: 12px"><del>₹30</del></div>
      </div>
    </div>
    <div class="horizontal-line mt-2"></div>
    <div class="flex mt-3">
      <div style="width: 85.51px;">
        <div class="item-name" style="font-size: 14px">Brinjal</div>
        <div class="item-weight" style="font-size: 12px">500 gms</div>
      </div>
      <div
        class="flex mt-1"
        style="height: 18px; margin-left: 17px; font-size: 12px"
      >
        <span (click)="decrement()" class="increment-decrement cursor-pointer"
          >-</span
        >
        <span style="color: #5bb600; width: 35px; text-align: center">{{
          itemCount
        }}</span>
        <span (click)="increment()" class="increment-decrement cursor-pointer"
          >+</span
        >
      </div>
      <div>
        <div class="item-price" style="font-size: 14px">₹18</div>
        <div class="item-old-price" style="font-size: 12px"><del>₹20</del></div>
      </div>
    </div>
    <div class="horizontal-line mt-2"></div>
    <div class="flex mt-3">
      <div style="width: 85.51px;">
        <div class="item-name" style="font-size: 14px">Lemon</div>
        <div class="item-weight" style="font-size: 12px">250 gms</div>
      </div>
      <div
        class="flex mt-1"
        style="height: 18px; margin-left: 17px; font-size: 12px"
      >
        <span (click)="decrement()" class="increment-decrement cursor-pointer"
          >-</span
        >
        <span style="color: #5bb600; width: 35px; text-align: center">{{
          itemCount
        }}</span>
        <span (click)="increment()" class="increment-decrement cursor-pointer"
          >+</span
        >
      </div>
      <div>
        <div class="item-price" style="font-size: 14px">₹38</div>
        <div class="item-old-price" style="font-size: 12px"><del></del></div>
      </div>
    </div>
    <div class="horizontal-line mt-2"></div>
    <div class="flex mt-3">
      <div style="width: 85.51px;">
        <div class="item-name" style="font-size: 14px">Tomato</div>
        <div class="item-weight" style="font-size: 12px">500 gms</div>
      </div>
      <div
        class="flex mt-1"
        style="height: 18px; margin-left: 17px; font-size: 12px"
      >
        <span (click)="decrement()" class="increment-decrement cursor-pointer"
          >-</span
        >
        <span style="color: #5bb600; width: 35px; text-align: center">{{
          itemCount
        }}</span>
        <span (click)="increment()" class="increment-decrement cursor-pointer"
          >+</span
        >
      </div>
      <div>
        <div class="item-price" style="font-size: 14px">₹7.50</div>
        <div class="item-old-price" style="font-size: 12px"><del></del></div>
      </div>
    </div>
    <div class="horizontal-line mt-2"></div>
    </div>
    <div class="horizontal-line" style="background: #5BB600;"></div>
    <div class="flex">
      <div>
      <div class="item-name" style="font-size: 14px">Subtotal</div>
      <div class="item-weight" style="font-size: 10px">Extra Charges may apply</div>
      </div>
      <div class="item-price" style="font-size: 14px;margin-left: 50px;">₹1500</div>
    </div>
    <div class="checkout-box cursor-pointer">
      <span style="font-size: 15px;line-height:30px">Checkout</span>
    </div>
  </div>
</div>
