<div class="banner-one-parent">
  <app-landinglogo></app-landinglogo>
  <section class="container-fluid">
    <div class="row">
      <div class="col-sm col-lg col-md col-md col-lg">
        <app-login-img></app-login-img>
      </div>
      <div class="col-sm col-lg col-md">
        <div class="local-card-login card card-margin-left-7">
          <div class="text-start">
            <h3 class="login-heading">Forget Password</h3>
            <h4 class="login-sub-titel sub-heading-font-size">
              We connect you with Your beloved Shops
            </h4>
          </div>
          <form class="login-form" [formGroup]="forgotPassword">
            <div class="mb-2">
              <div class="row">
                <div class="col-8">
                  <label for="mobile-number" class="local-form-label"
                    >Mobile Number</label
                  >
                  <div class="row col-md-12">
                    <ngx-intl-tel-input
                      [cssClass]="'custom form-control'"
                      [inputId]="'my-input-id'"
                      [preferredCountries]="[]"
                      [enableAutoCountrySelect]="false"
                      [enablePlaceholder]="true"
                      [searchCountryFlag]="true"
                      [searchCountryField]="[
                        SearchCountryField.Iso2,
                        SearchCountryField.Name
                      ]"
                      [selectFirstCountry]="false"
                      [selectedCountryISO]="CountryISO.India"
                      [maxLength]="10"
                      [phoneValidation]="true"
                      [customPlaceholder]="'950xxxxxxx0'"
                      name="phone"
                      formControlName="phone"
                      name="phone"
                      #phoneField
                      [ngClass]="{
                        'is-invalid': submitted && f?.phone?.errors
                      }"
                    ></ngx-intl-tel-input>
                  </div>
                </div>
                <div class="col-4 mt-3">
                  <button
                    class="login-submit-btn btn mt-1"
                    (click)="sendOTP()"
                    [disabled]="
                      isOtpDisabled ||
                      f.phone?.errors?.validatePhoneNumber ||
                      f.phone?.errors?.required
                    "
                  >
                    {{ oTpheader }}
                  </button>
                </div>
                <div class="isInvalid" *ngIf="submitted && f?.phone?.errors">
                  <div *ngIf="f.phone?.errors?.required">
                    Phone Number is required
                  </div>
                  <div *ngIf="f.phone?.errors?.validatePhoneNumber">
                    Phone Number must be 10 characters
                  </div>
                </div>
                <div class="mt-2 local-form-label orange" *ngIf="isOtpDisabled">
                  Please wait {{ timeLeft }} second(s) before requesting a new
                  One Time Password (OTP).
                </div>
                <div class="mt-2 local-form-label" *ngIf="newOtpFlag">
                  Not recieved your code?
                  <span class="orange cursor-pointer">
                    click on Resend 
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-2">
              <div>
                <label
                  for="mobile-number"
                  class="local-form-label ms-1 mt-2 mb-2"
                  >Enter OTP</label
                >
              </div>
              <div class="d-flex flex-row">
                <ng-otp-input
                  [config]="{
                    length: 6,
                    inputClass: 'otpClass',
                    allowNumbersOnly: true,
                    disableAutoFocus: true
                  }"
                  name="otp"
                  [ngClass]="{ 'is-invalid': submitted && f?.otp?.errors }"
                  (onInputChange)="onOtpChange($event)"
                  [formCtrl]="otp"
                ></ng-otp-input>
              </div>
              <div *ngIf="submitted && f?.otp?.errors" class="isInvalid">
                <div *ngIf="f.otp?.errors?.required">OTP is required</div>
                <div *ngIf="f.otp?.errors?.minlength">
                  OTP must be 6 characters
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label for="password" class="local-form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Set Password"
                name="password"
                placeholder="Set Password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': submitted && f.password.errors
                }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="f.password.errors.maxlength">
                  Username must not exceed 40 characters
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label for="confirm-password" class="local-form-label"
                >Confirm password</label
              >
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                placeholder=" Confirm Password"
                name="password"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid': submitted && f.confirmPassword.errors
                }"
              />
              <div
                *ngIf="submitted && f.confirmPassword.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.confirmPassword.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="f.confirmPassword.errors.matching">
                  Confirm Password does not match
                </div>
              </div>
            </div>
            <button class="login-submit-btn btn mt-2" (click)="login()">Reset</button>
          </form>
          <div class="new-account text-center">
            <p>
              New to Local ?
              <a
                class="text-decoration-none create-account cursor-pointer"
                (click)="navigateToAccount()"
                >Create your account</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <img src="../../../../assets/images/login-banner.png" class="banner-one" />
</div>
