.store-card-max-width {
  padding-left: 0px !important;
  width: 21%;
  border: 1px solid #c4c4c4;
  border-radius: 0px 0px 10px 10px;
  height: 20rem;
  margin: 2px 40px 2px 2px !important;
  border-radius: 8px 8px 10px 10px;
}

.store-card-min-width {
  min-width: 1117px !important;
  padding-left: 0px !important ;
}

.start-over {
  color: #007185;
}

.start-over:hover {
  text-decoration: underline;
  color: #ff7a00;
}

.gap-between-cards {
  gap: 7.09vh !important;
}

.right-scroll {
  top: 50%;
  right: -20px;
}
.left-scroll {
  top: 50%;
  left: -20px;
}
