@import "../../../../../variable";
.store-card-max-width {
  padding-left: 0px !important;
  width: 21%;
  border: 1px solid $border-color;
  border-radius: 0px 0px 10px 10px;
  height: 20rem;
  border-radius: 8px 8px 10px 10px;
}

.store-card-min-width {

}

.start-over {
  color: $start-over-txt-clr;
}

.start-over:hover {
  text-decoration: underline;
  color: $orange;
}

.gap-between-cards {
  gap: 7.09vh !important;
}

.right-scroll {
  top: 50%;
  right: 0;
}
.left-scroll {
  top: 50%;
  left: -20px;
}
