@import "../../../../varible";

.form-control {
  background-color: #e7e7e7;
  border: none !important;
  border-radius: none !important;
}
.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.navbar {
  z-index: 2;
  width: 100%;
  background: linear-gradient(180deg, #2f394b 0%, #080d18 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
}
.navbar-light {
  .navbar-nav {
    padding: 10px;
    .nav-item {
      padding: {
        right: 40px;
        left: 15px;
        top: 0;
        bottom: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      .nav-link {
        color: #fff;
        position: relative;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        padding: 0;
        &.active,
        &:hover {
          color: #ff7a00;
        }
      }
    }
  }
}

.burger-menu {
  cursor: pointer;
  div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
  }
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  z-index: 2;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-close {
  position: fixed;
  top: 0;
  right: 0;
  color: #2d3648;
  cursor: pointer;
  padding: 16px;
}
