<div class="container-fluid">
  <div class="row">
    <div class="col-sm col-lg col-md text-center">
      <img src="assets/images/login-img.png" alt="" class="login-vector-img" />
    </div>
    <div class="col-sm col-lg col-md text-center ">
      <a href="">
        <img
          src="assets/images/google-store.png"
          alt=""
          class="app-store-btn "
        />
      </a>
      <a href="">
        <img
          src="assets/images/apple-store.png"
          alt=""
          class="app-store-btn"
        />
      </a>
    </div>
  </div>
</div>
