<app-top-search-nav-bar></app-top-search-nav-bar>
<app-top-menu-nav-bar></app-top-menu-nav-bar>
<app-carousel-banner [CarouselImages]="CarouselImages"></app-carousel-banner>

<app-categories [categories]="categories"></app-categories>

<app-today-highlights [highlightCards]="TodayHighlights"></app-today-highlights>

<app-store-by-categories
  [nearByStoreData]="nearByStoreData"
  [CategoriesType]="'Popular Stores'"
></app-store-by-categories>

<app-highlight-card></app-highlight-card>

<app-store-by-categories
  [nearByStoreData]="nearByStoreData"
  [CategoriesType]="'Nearby You'"
></app-store-by-categories>

<app-footer></app-footer>
