<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
     <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
     <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
     <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="background">
      <img src="../../../assets/images/offers/carousel-top-left.png" alt="" class="top-left">
      <div class="carousel-item active">
        <div class="container">
           <div class=" text-start">
              <h1>Example headline.</h1>
              <p>Some representative placeholder content for the first slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
           </div>
        </div>
     </div>
     <img src="../../../assets/images/offers/carousel-bottom-right.png" alt="" class="bottom-right">
    </div>

     <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
           <rect width="100%" height="100%" fill="#777"></rect>
        </svg>
        <div class="container">
           <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
           </div>
        </div>
     </div>
     <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
           <rect width="100%" height="100%" fill="#777"></rect>
        </svg>
        <div class="container">
           <div class="carousel-caption text-end">
              <h1>One more for good measure.</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
           </div>
        </div>
     </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
</div>




<section class="container-fluid">
    <div class="shop-by-categoires " style="margin: 5rem auto">
        <h2 class="text-center mb-5 mt-5 shop-by-categoires-heading">Shop by Categoires</h2>
        <div class="row d-flex justify-content-center">
          <div class=" categoires-card-max-width " *ngFor="let cards of card" >
            <div class="col-sm col-lg col-md">
                <a href="" class="medical-stores text-decoration-none">
                  <img src="{{cards.productImg}}" alt="" class="shops-by-category-logos">
                    <span class="shop-titel">
                    <span class="titel">{{cards.titel}}</span>
                    </span>
                </a>
            </div>
          </div>
        </div>
    </div>
  </section>




<section class="container-fluid">
  <h2 class="todays-highlights-titel text-center mb-5 ">Todays's Highlights</h2>
  <div class="row d-flex justify-content-center" style="margin: 5rem auto">

    <!-- highlight card1-->

    <div class=" highlight">
      <div class="row align-items-center highlights-content ">
        <div class="col-sm col-lg col-md">
            <div class="highlight-titel mb-4">Abhijeeth Wines</div>
            <div class="varieties-in-shops-titel">Wide Variety of Wines</div>
            <div class="varieties-in-shops-titel mb-4"> Rum, Whiskey, Vodka</div>
            <span class="discount-upto">Up to 30 % off</span>
        </div>
        <div class="col-sm col-lg col-md">
            <img src="../../assets/images/highlights/highlights-image-1.png" alt="" class="varieties-in-shops-img varietey-shops">
        </div>
      </div>
    </div>

    <!-- highlight card2-->
    <div class=" highlight">
      <div class="row align-items-center highlights-content ">
        <div class="col-sm col-lg col-md">
            <div class="highlight-titel mb-4">Abhijeeth Wines</div>
            <div class="varieties-in-shops-titel">Wide Variety of Wines</div>
            <div class="varieties-in-shops-titel mb-4"> Rum, Whiskey, Vodka</div>
            <span class="discount-upto">Up to 30 % off</span>
        </div>
        <div class="col-sm col-lg col-md">
            <img src="../../assets/images/highlights/highlights-image-1.png" alt="" class="varieties-in-shops-img varietey-shops">
        </div>
      </div>
    </div>
    <!-- highlight card3 -->
    <div class=" highlight">
      <div class="row align-items-center highlights-content ">
        <div class="col-sm col-lg col-md">
            <div class="highlight-titel mb-4">Abhijeeth Wines</div>
            <div class="varieties-in-shops-titel">Wide Variety of Wines</div>
            <div class="varieties-in-shops-titel mb-4"> Rum, Whiskey, Vodka</div>
            <span class="discount-upto">Up to 30 % off</span>
        </div>
        <div class="col-sm col-lg col-md">
            <img src="../../assets/images/highlights/highlights-image-1.png" alt="" class="varieties-in-shops-img varietey-shops">
        </div>
      </div>
    </div>
  </div>

</section>
