<section class="container">
  <div class="sidemenu text-center border mt-2">
    <div class="text-start ps-4">
      <button type="button" class="btn-close mt-2" aria-label="Close"></button>
    </div>
    <div class="profile">
      <div>
        <span>
          <img src="" alt="" />
        </span>
      </div>
      <div>
        <h3>viswanath Gowtham</h3>
        <p class="m-0 light-grey">123456789</p>
        <p class="m-0 mb-5 light-grey">Email</p>
      </div>
    </div>
    <div class="gold-membership">
      <a  href="" class="gold-crown-btn border text-decoration-none  ">
        <img src="../../assets/images/profile-icons/gold-crown.png" alt="">  Go Premium
      </a>
    </div>
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-start ms-5">
        <li class="nav-item">
          <img
            src="/assets/images/profile-icons/orders.png"
            alt=""
            class="icons"
          />
          <span class="nav-link ms-5" routerLinkActive="active">orders</span>
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/Favorites.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active">Favorites</span>
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/wallet.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active">Wallet</span>
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/help-center.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active"
            >Help Center</span
          >
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/Flow-of-local.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active"
            >Flow of local</span
          >
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/setteing.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active">Setting</span>
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/Analytics.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active">Analytics</span>
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/Refer-a-store.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active"
            >Refer a store</span
          >
          <b class="fw-bolder"> ></b>
        </li>
        <li class="nav-item">
          <img src="/assets/images/profile-icons/Logout.png" alt="" />
          <span class="nav-link ms-5" routerLinkActive="active"> Logout</span>
          <b class="fw-bolder"> ></b>
        </li>
      </ul>
    </div>
  </div>
</section>
