<div class="container mb-3 mt-2">
  <div class="row align-items-center">
    <div class="col-sm">
      <app-landinglogo></app-landinglogo>
    </div>
    <div class="col-sm">
      <button class="login-btn btn">Login</button>
    </div>
  </div>
</div>
<div class="banner-one-parent">
  <div class="banner-one"></div>
  <section class="container">
    <div class="row">
      <div class="col-sm">
        <app-login-img></app-login-img>
      </div>
      <div class="col-sm">
        <div class="pl-5vh form-control-width box-shadow mb-2">
          <div class="text-start">
            <h3 class="mb-3">Welcome to The Local</h3>
            <p class="login-sub-titel">
              Create your account to connent to local Shops
            </p>
          </div>
          <form class="login-form mt-4">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter User Name"
              />
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-8">
                  <label for="mobile-number" class="form-label"
                    >Mobile Number</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="mobile-number"
                    placeholder="Enter Mobile Number"
                  />
                </div>
                <div class="col-4">
                  <br />
                  <input
                    type="number"
                    class="form-control mt-2"
                    id="otp"
                    placeholder="Send OTP"
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="Email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="Email"
                placeholder="Enter Your Email Address"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="number"
                class="form-control"
                id="password"
                placeholder="Set Password"
              />
            </div>
            <div class="mb-5">
              <label for="confirm-password" class="form-label"
                >Confirm password</label
              >
              <input
                type="number"
                class="form-control"
                id="confirm-password"
                placeholder=" Confirm Password"
              />
            </div>
            <button class="login-submit-btn btn mb-2">Log In</button>

            <div class="agree-text mt-3">
              <p class="m-none">
                By continuing, you agree to our
                <a href="" class="text-orange text-decoration-none"
                  >Privacy Policy</a
                >, <br />Terms and Conditions applied.
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
