.login-submit-btn{
  background-color: #FF7A00;
  width: 100%;
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
}

.login-btn{
  border: 1px solid #FF7A00;
  font-weight: 500;
  color: #FF7A00;
  background-color: #fff;
  font-size: 16px;
padding: 5px 25px;
border-radius: 5px;
float: right;
}
