.category-col-md-2 {
  flex: 0 0 auto !important;
  width: 16.655% !important;
}
.start-over {
  color: #007185;
}
.start-over:hover {
  text-decoration: underline;
  color: #ff7a00;
}
.horizontal-divider {
  display: inline-block;
  margin: -2px 0.67375em 0;
  width: 1px;
  background-color: #ddd;
  line-height: 0;
  height: 14px;
  vertical-align: middle;
}
.right-scroll {
  top: 55%;
  right: 0;
}
.left-scroll {
  top: 55%;
  left: -18px;
}
