<!-- <div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissible]="true" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div> -->


<div>
  <app-landinglogo></app-landinglogo>

  <div class="d-flex">
    <div class="col-sm col-lg col-md col-md col-lg justify-content-center">

    </div>
    <div class="col-sm col-lg col-md col-md col-lg justify-content-center mt-4 z-index-local d-flex height-fit-content"
      style="justify-content: space-around">
      <div class="card mw-10 w-55 p-3">
        <div class="card-body">

          <div class="text-start">
            <h3 class="login-heading">Welcome to The Local</h3>
            <h4 class="login-sub-title sub-heading-font-size">
              Create your account to connent to local Shops
            </h4>
          </div>
          <form class="login-form">
            <div class="mb-2">
              <label for="name" class="local-form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter User Name" />

            </div>

            <div class="mb-2">
              <label for="name" class="local-form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter User Name" />

              <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"
              class="form-control" id="name" name="name"  type="text" #search id="search-input">

            </div>

          </form>
          



        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <img src="../../../../assets/images/login-banner.png" class="banner-one d-flex mw-10" />
  </div>
</div>


<div>
  <label>Address</label>
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
    class="form-control" #search id="search-input">
</div>

<pre>
  <p>{{ location | json }}</p>
</pre>