@import "../../../varible";

.login-box {
  width: 558px;
  background: #ffffff;
  // margin-bottom: 2px;
}
i {
  margin-left: -30px;
  cursor: pointer;
}

.login-heading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;
  // line-height: 45px;
  color: #2d3648;
  margin-bottom: 10px;
}
.login-sub-titel {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8b8888;
}


.or {
  margin: 7px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  color: #c4c4c4;
}

.forgot-password {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ff7a00;
}

.agree-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  margin-bottom: 10px;
}

.login-submit-btn {
  width: 100%;
  padding: 10px 0;
  background: #ff7a00;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.Request-otp-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ff7a00;
  border: 1px solid #ff7a00;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
}

.new-account {
  margin: 25px 0;
  p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #838383;
    .create-account {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 18px;
      align-items: center;
      color: #ff7a00;
    }
  }
}
