@import '../../../varible';



i {
  margin-left: -30px;
  cursor: pointer;
}



// h3{
//   font-size: 30px;
//   color: #2D3648;
// }

// p{
//   color: #8B8888;
// }

.login-submit-btn{
  background-color: #FF7A00;
  width: 100%;
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
}

.Request-otp-btn{
  border: 1px solid #FF7A00;
  width: 100%;
  color: $orange;
  background-color: #fff;
  font-size: 18px;
padding: 15px;
border-radius: 5px;
}


.forgot-password{
  font-size: 14px;
}

