.row {
  flex-direction: column;
}
.col-sm col-lg col-md {
  .row {
    flex-direction: row;
    text-align: center;
  }
}

.login-vector-img {
  width: 100%;
  height: 100%;
}

.app-store-btn {
  width: 18vh;
  height: 6vh;
  margin: 0px;
}
.app-store-btn:last-child {
  margin-left: 20px;
}
