<div class="continer">
    <div class="row">
        <div class="col-sm">
          <img src="assets/images/login-img.png" alt="">
        </div>
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">
              <a href="">
                <img src="assets/images/google-store.png" alt=""  class="app-store-btn">
              </a>
            </div>
            <div class="col-sm">
                <a href="">
                  <img src="assets/images/apple-store.png" alt="" class="app-store-btn">
                </a>
            </div>
          </div>
        </div>
    </div>
</div>
