.otp-btn{
  // border: 1px solid #FF7A00;
  background-color: #FF7A00 ;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.otp-point{
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #000;
  width: 10px;
  margin: 0 10px;
  border-radius: 0px !important;
}


.verify-btn{
  background-color: #FF7A00;
  width: 100%;
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
}
