<app-landinglogo></app-landinglogo>
<div class="banner-one-parent">
  <div class="banner-one"></div>
  <section class="container">
    <div class="row">
      <div class="col-sm">
        <app-login-img></app-login-img>
      </div>
      <div class="col-sm">
        <div class="pl-5vh form-control-width box-shadow mb-2">
          <div class="text-start">
            <h3 class="mb-3">Login</h3>
            <p class="login-sub-titel">
              We will send you an OTP to this number
            </p>
          </div>
          <form class="login-form mt-4">
            <div class="mb-5">
              <div class="row">
                <div class="col-8">
                  <label for="mobile-number" class="form-label"
                    >Mobile Number</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="mobile-number"
                    placeholder="Enter Mobile Number"
                  />
                </div>
                <div class="col-4">
                  <br />
                  <button class="btn otp-btn mt-2">Send OTP</button>
                </div>
              </div>
            </div>
            <div class="mb-7 mt-7">
              <div class="d-flex flex-row mt-5">
                <input
                  type="text"
                  class="form-control otp-point col"
                  autofocus=""
                />
                <input type="text" class="form-control otp-point col" />
                <input type="text" class="form-control otp-point col" />
                <input type="text" class="form-control otp-point col" />
                <input type="text" class="form-control otp-point col" />
                <input type="text" class="form-control otp-point col" />
              </div>
            </div>
            <div class="mb-5">
              <p class="login-sub-titel mb-3">
                Not recieved your code?
                <a href="" class="text-decoration-none text-orange"
                  >Resend code</a
                >
              </p>
              <button class="btn verify-btn mb-3">Verify</button>
              <div class="agree-text">
                <p class="m-none">
                  By continuing, you agree to our
                  <a href="" class="text-decoration-none text-orange"
                    >Privacy Policy</a
                  >, <br />Terms and Conditions applied.
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
