@import "../../../../../variable";
// .slideshow-container {
//     height: 300px;
//     min-width: 1200px;
//     // background: linear-gradient(87.93deg, #f2daff 43.24%, #ebcafc 99.39%);
//     border-radius: 15px;
//   }

//   /* Slides */
//   .mySlides {
//     display: none;
//     text-align: center;
//   }

//   /* Next & previous buttons */
//   .prev,
//   .next {
//     cursor: pointer;
//     position: absolute;
//     text-decoration: none;
//     top: 50%;
//     width: auto;
//     margin-top: -30px;
//     padding: 16px;
//     color: #888;
//     font-weight: bold;
//     font-size: 20px;
//     border-radius: 0 3px 3px 0;
//     user-select: none;
//   }

//   /* Position the "next button" to the right */
//   .next {
//     position: absolute;
//     right: 10px;
//     border-radius: 3px 0 0 3px;
//   }

//   .prev:hover, .next:hover {
//     background-color: rgba(0,0,0,0.8);
//     color: white;
//   }

//   /* The dot/bullet/indicator container */
//   .dot-container {
//     text-align: center;
//   }

//   /* The dots/bullets/indicators */
//   .dot {
//     cursor: pointer;
//     margin: 0 2px;
//     width: 10px;
//     height: 10px;
//     background: #d9d9d9;
//     border-radius: 50%;
//     display: inline-block;
//     transition: background-color 0.6s ease;
//   }

//   /* Add a background color to the active dot/circle */
//   .active,
//   .dot:hover {
//     width: 15px;
//     height: 10px;
//     background: #949292;
//     border-radius: 5px;
//   }

//   .none {
//     display: none;
//   }

//   .block {
//     display: block;
//   }

//   .img-resolution {
//     width: 1200px;
//     height: 300px;
//   }

.carousel-indicators [data-bs-target] {
  cursor: pointer;
  margin: 0 2px;
  width: 10px;
  height: 5px;
  border-top: 0;
  background: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel-indicators .active,
.carousel-indicators [data-bs-target]:hover {
  background: $nav-text-color;
}

:host .carousel-indicators {
  z-index: 1;
}

.carousel-padding {
  padding: 50px 30px;
}
