<!-- <div style="padding: 50px 30px">
    <div class="slideshow-container position-relative container">
        <a class="prev" (click)="slideChange(-1)"
        ><img
          src="../../../assets/images/previous.png"
          alt="Previous"
          style="width: 13px; height: 26px"
      /></a>
      <div *ngFor="let image of CarouselImages" class="mySlides">
        <img src={{image.storeImage}} alt={{image.storeName}} class="img-resolution" />
        </div>

      <a class="next" (click)="slideChange(1)"
        ><img
          src="../../../assets/images/next.png"
          alt="Next"
          style="width: 13px; height: 26px"
      /></a>
  
    <div class="dot-container">
        <span *ngFor="let image of CarouselImages; index as idx">
          <span class="dot" (click)="currentSlideIndicator(idx + 1)"></span>
        </span>
      </div>
  </div> -->
  <div style="padding: 50px 30px">
    <div class="slideshow-container position-relative container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/offers/carousel-1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/offers/carousel-1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/offers/carousel-1.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  </div>