<div class="carousel-padding">
  <div class="slideshow-container position-relative container">
    <div class="imgCarousel">
      <div>
        <img
          src="../../../assets/images/carousel1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div>
        <img
          src="../../../assets/images/carousel2.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div>
        <img
          src="../../../assets/images/carousel3.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
