@import "../../../../../variable";
.category-col-md-2 {
  flex: 0 0 auto !important;
  width: 16.655% !important;
}
.start-over {
  color: $start-over-txt-clr;
}
.start-over:hover {
  text-decoration: underline;
  color: $orange;
}
.right-scroll {
  top: 55%;
  right: 0;
}
.left-scroll {
  top: 55%;
  left: -18px;
}
