<footer>
  <div class="back-to-top">
    <h3 class="text-center pt-2 pb-2 cursor-pointer" (click)="goToTop()">
      BACK TO TOP
    </h3>
  </div>
  <div class="bg-grey pt-5">
    <section class="container">
      <div class="d-flex pb-5">
        <div class="col-8">
          <div class="row pipe-line">
            <div class="col-12">
              <div class="row">
                <div class="col-3">
                  <div class="footer-widget">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                      <li class="nav-item">
                        <a href="" class="nav-link">Contact Us</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">About Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3">
                  <div class="footer-widget">
                    <h4>Legal</h4>
                    <ul class="list-unstyled">
                      <li class="nav-item">
                        <a href="" class="nav-link">Privacy Policy</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">Terms of Use</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">Returns & Refund Policy</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-6">
                  <div class="footer-widget">
                    <h4>Registered Office Address</h4>
                    <div class="adderss">
                      <p>
                        Acintyo Local Oriented Customer Applications Pvt. Ltd,
                        <br />
                        Plot No. 32, Survey No 91,<br />
                        Telecom Nagar, Gachibowli - 500032<br />
                        Hyderabad, Telanagana
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <ul class="list-unstyled social-media-link">
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i
                      class="fa-brands fa-square-instagram"
                      aria-hidden="true"
                    ></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i
                      class="fa-brands fa-square-facebook"
                      aria-hidden="true"
                    ></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link"
                    ><i
                      class="fa-brands fa-square-twitter"
                      aria-hidden="true"
                    ></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="footer-widget">
            <h4>Subscribe</h4>
            <div class="row">
              <div class="col-12">
                <form action="">
                  <label for="email" class="form-label"
                    >Get LOCAL MOBILE APP through e-mail:</label
                  >
                  <div class="d-flex">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Enter your e-mail"
                    />
                    <button class="btn app-link-btn">Get App Link</button>
                  </div>
                </form>
              </div>
              <div class="col-12">
                <div class="d-flex give-a-call mt-3">
                  <p>Or Give a missed call to:</p>
                  <a href="" class="text-decoration-none">00000000000</a>
                </div>
              </div>
              <div class="col-12">
                <div class="app-download-links">
                  <div class="d-flex">
                    <img
                      src="assets/images/google-store.png"
                      alt=""
                      class="app-store-btn"
                    />
                    <img
                      src="assets/images/apple-store.png"
                      alt=""
                      class="app-store-btn"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
