.row{
  margin-bottom: 10px;
}
h1 {
  // font-family: 'Poppins';
  // font-style: normal;
  font-weight: 500;
  font-size: 45px;
  // line-height: 72px;
  text-align: center;
}
h3 {
  // font-family: 'Poppins';
  // font-style: normal;
  font-weight: 500;
  font-size: 34px;
  // line-height: 54px;
  text-align: center;
  color: #6a6868;
}
img {
  width: 500px;
  height: 350px;
}
p {
  // font-family: 'Poppins';
  // font-style: normal;
  font-weight: 400;
  font-size: 23px;
  // line-height: 42px;
  text-align: center;
}
.retailer {
  text-align: center;
  .btn {
    background: #0a074f;
    border: 2px solid #02002f;
    border-radius: 10px;
    color: #fff;
    font-size: 26px;
    padding: 5px 25px;
  }
}

.consumer {
  text-align: center;
    .btn {
      background: #ff7a00;
      border: 2px solid #d16400;
      border-radius: 10px;
      color: #fff;
      font-size: 26px;
      padding: 5px 25px;
    }
}
