<div class="row d-flex justify-content-center">
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>
  <div
    class="category-col-md-2 me-4 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card.storeType === 'medical',
      'grocery-card-bg-clr': card.storeType === 'grocery',
      'liquor-card-bg-clr': card.storeType === 'liquor',
      'vegetables-card-bg-clr': card.storeType === 'vegetables',
      'farm-card-bg-clr': card.storeType === 'farms',
      'garden-card-bg-clr': card.storeType === 'garden'
    }"
  >
    <ng-container>
        <a class="category-a">
            <img
            src="{{ card1.productImg }}"
            alt=""
            class="shops-by-category-logos"
          />
        </a>

    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div>

  <!-- <div
    class="col-md-1 pt-0 border-radius-10 "
    [ngClass]="{
      'medical-card-bg-clr': card1.storeType === 'medical',
      'grocery-card-bg-clr': card1.storeType === 'grocery',
      'liquor-card-bg-clr': card1.storeType === 'liquor',
      'vegetables-card-bg-clr': card1.storeType === 'vegetables',
      'farm-card-bg-clr': card1.storeType === 'farms',
      'garden-card-bg-clr': card1.storeType === 'garden'
    }"
  >
    <ng-container>
      <img
        src="{{ card1.productImg }}"
        alt=""
        class="shops-by-category-logos"
      />
    </ng-container>
    <span
      class="title"
      [ngClass]="{
        'medical-title-card': card1.storeType === 'medical',
        'grocery-title-card': card1.storeType === 'grocery',
        'liquor-title-card': card1.storeType === 'liquor',
        'vegetables-title-card': card1.storeType === 'vegetables',
        'farm-title-card': card1.storeType === 'farms',
        'garden-title-card': card1.storeType === 'garden'
      }"
      class="shop-title-card"
      title="{{ card1.title }}"
      >{{ card1.title }}</span
    >
  </div> -->
</div>
