<div>
  <div class="categoires-card-max-width">
    <div class="col-sm col-lg col-md">
      <a
        (click)="onCategoryClick()"
        [ngClass]="{
          'medical-card-bg-clr': category.storeType === 'medical',
          'grocery-card-bg-clr': category.storeType === 'grocery',
          'liquor-card-bg-clr': category.storeType === 'liquor',
          'vegetables-card-bg-clr': category.storeType === 'vegetables',
          'farm-card-bg-clr': category.storeType === 'farms',
          'garden-card-bg-clr': category.storeType === 'garden'
        }"
        class="stores text-decoration-none"
      >
        <img
          src="{{ category.productImg }}"
          alt=""
          class="shops-by-category-logos"
        />
        <span
          style="margin-top: -1.5rem; position: sticky"
          [ngClass]="{
            'medical-title-card': category.storeType === 'medical',
            'grocery-title-card': category.storeType === 'grocery',
            'liquor-title-card': category.storeType === 'liquor',
            'vegetables-title-card': category.storeType === 'vegetables',
            'farm-title-card': category.storeType === 'farms',
            'garden-title-card': category.storeType === 'garden'
          }"
          class="shop-title-card"
        >
          <span class="title" title="{{ category.title }}">{{
            category.title
          }}</span>
        </span>
      </a>
    </div>
  </div>
</div>
