.medical-card-bg-clr {
  background: #e8f8f9;
}

.liquor-card-bg-clr {
  background: #fdf7e8;
}

.vegetables-card-bg-clr {
  background: #eeffdc;
}

.grocery-card-bg-clr {
  background: #f3ecff;
}

.farm-card-bg-clr {
  background: #e6fdf0;
}

.garden-card-bg-clr {
  background: #ffeadc;
}

.medical-title-card {
  background: #b8eaed;
  color: #196766;
}

.liquor-title-card {
  background: #edd28d;
  color: #7a6327;
}

.vegetables-title-card {
  background: #c4e7a1;
  color: #489100;
}

.grocery-title-card {
  background: #d0c3ea;
  color: #524075;
}

.farm-title-card {
  background: #a4d3b8;
  color: #42564b;
}

.garden-title-card {
  background: #e7bb87;
  color: #74542e;
}

.shops-by-category-logos {
  margin-bottom: 0px;
  text-align: center !important;
  width: 65%;
  height: 17vh !important;
}

.shop-title-card {
  border-radius: 0px 0px 10px 10px;
  display: block;
  padding: 15px 0px;
  text-align: center;
  margin-top: -1.5rem;
  position: sticky;
}

.categoires-card-max-width {
  width: 12%;
}

.border-radius-10 {
  border-radius: 10%;
}

.pt-0 {
  padding: 0px !important;
}


.category-a {
  text-align: center;
  margin: auto !important;
  padding: auto !important;
  display: block;
}


.category-col-md-2 {
  flex: 0 0 auto !important;
  width: 11.666667% !important;
  padding-left: 0px;
    padding-right: 0px;
    height: 29vh !important;;
}
