<div>
  <app-landinglogo></app-landinglogo>
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm col-lg col-md">
          <app-login-img></app-login-img>
        </div>
        <div class="col-sm col-lg col-md">
          <div class="local-card-login card card-margin-left-7">
            <div class="text-start">
              <h3 class="login-heading">Login</h3>
              <h4 class="login-sub-titel sub-heading-font-size">
                We will send you an OTP to this number
              </h4>
            </div>
            <form class="login-form">
              <div class="mb-2">
                <div class="row">
                  <div class="col-8">
                    <label for="mobile-number" class="local-form-label"
                      >Mobile Number</label
                    >
                    <div class="row col-md-12">
                      <ngx-intl-tel-input
                        [cssClass]="'custom form-control'"
                        [inputId]="'my-input-id'"
                        [preferredCountries]="[]"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.India"
                        [maxLength]="10"
                        [phoneValidation]="true"
                        [customPlaceholder]="'950xxxxxxx0'"
                        name="phone"
                        #phoneField
                      ></ngx-intl-tel-input>
                    </div>
                  </div>
                  <div class="col-4 mt-3">
                    <button
                      class="login-submit-btn btn mt-1"
                      (click)="startTimer()"
                      [disabled]="isOtpDisabled"
                    >
                      {{ oTpheader }}
                    </button>
                  </div>
                  <div class="mt-2 local-form-label orange" *ngIf="isOtpDisabled">
                    Please wait {{ timeLeft }} second(s) before requesting a new
                    One Time Password (OTP).
                  </div>
                  <div class="mt-2 local-form-label" *ngIf="newOtpFlag">
                    Not recieved your code? <span class="orange cursor-pointer"  (click)="startTimer()">
                      Resend code
                    </span> 
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <div class="d-flex flex-row ms-2 mt-4 mb-2">
                  <ng-otp-input [config]="{ length: 6 , inputClass:'otpClass'}"></ng-otp-input>
                </div>
              </div>
              <div class="resend-otp text-start">
                <p class=" ">
                  Not recieved your code?
                  <a href="" class="text-decoration-none orange">Resend code</a>
                </p>
              </div>

              <button class="login-submit-btn btn mb-3">Verify</button>
              <div class="agree-text">
                <p class="m-none">
                  By continuing, you agree to our
                  <a href="" class="text-decoration-none orange"
                    >Privacy Policy</a
                  >, <br />Terms and Conditions applied.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div>
      <img src="../../../../assets/images/login-banner.png" class="banner-one" />
    </div>
</div>
