<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div class="sidebar-content">
    <div class="sidemenu text-center border">
      <div class="">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeSideNav()"></button>
      </div>
      <div class="profile">
        <span class="profile-logo">
          <span *ngIf="!isLoginUserFlag else loggedInUser">
            G
          </span>
          <ng-template #loggedInUser>
            V
          </ng-template>
        </span>
        <div>
          <h3 class="local-admin-name mt-2" *ngIf="!isLoginUserFlag else loggedInUserDetail">
            Guest
          </h3>
          <ng-template #loggedInUserDetail>
            <h3 class="local-admin-name">
              {{userProfile?.firstName}}
            </h3>
            <p class="m-auto local-admin-id">{{userProfile?.mobileNumber?.toString().substring(2)}}</p>
            <p class="m-auto local-admin-mail">{{userProfile?.email}}</p>
          </ng-template>
        </div>
      </div>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-start">
          <li class="nav-item" *ngIf="isLoginUserFlag">
            <img src="../../../../assets/images/profile-icons/orders.png" alt="" class="icons" />
            <span class="nav-link ms-5" routerLinkActive="active">Orders</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item" *ngIf="isLoginUserFlag">
            <img src="../../../../assets/images/profile-icons/Favorites.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active">Favorites</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item" *ngIf="isLoginUserFlag">
            <img src="../../../../assets/images/profile-icons/wallet.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active">Wallet</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item">
            <img src="../../../../assets/images/profile-icons/help-center.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active">Help Center</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item">
            <img src="../../../../assets/images/profile-icons/Flow-of-local.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active">Flow of local</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item" *ngIf="isLoginUserFlag">
            <img src="../../../../assets/images/profile-icons/Analytics.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active">Analytics</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item">
            <img src="../../../../assets/images/profile-icons/Refer-a-store.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active">Refer a store</span>
            <b class="fw-bolder arrow"> ></b>
          </li>
          <li class="nav-item">
            <img src="../../../../assets/images/profile-icons/Logout.png" alt="" />
            <span class="nav-link ms-5" routerLinkActive="active" (click)="logout()" *ngIf="isLoginUserFlag"> Logout</span>
            <span class="nav-link ms-5" routerLinkActive="active" (click)="navigateLogin()" *ngIf="!isLoginUserFlag"> Login</span>
            
            <b class="fw-bolder arrow"> ></b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>