<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="top-left">
        <img src="assets/images/offers/carousel-top-left.png" alt="" />
      </div>
      <img
        src="../../assets/images/offers/carousel.png"
        alt="offers"
        class="offes-banner"
      />
      <div class="bottom-right">
        <img src="assets/images/offers/carousel-bottom-right.png" alt="" />
      </div>
    </div>
    <div class="carousel-caption">
      <div class="d-flex">
        <div class="col-4">
            <img src="assets/images/offers/grocery.png" alt="" class="col-4">
        </div>
        <div class="col-8 text-start ms-5">
          <h2 class="offer-titel">TODAY'S SPECAIL OFFER</h2>
          <h3 class="percentage-discount">GET upto 25% on orders above 599*</h3>
          <div class="d-flex ">
            <h4 class="store-name">FROM Suresh Store</h4>
            <button class="btn order-now-btn ms-5 ">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="top-left">
        <img src="assets/images/offers/carousel-top-left.png" alt="" />
      </div>
      <img
        src="../../assets/images/offers/carousel.png"
        alt="offers"
        class="offes-banner"
      />
      <div class="bottom-right">
        <img src="assets/images/offers/carousel-bottom-right.png" alt="" />
      </div>
    </div>
    <div class="carousel-caption">
      <div class="d-flex">
        <div class="col-4">
          <img src="assets/images/offers/grocery.png" alt="" class="col-4">
        </div>
        <div class="col-8 text-start ms-5">
          <h2 class="offer-titel">TODAY'S SPECAIL OFFER</h2>
          <h3 class="percentage-discount ">GET upto 25% on orders above 599*</h3>
          <div class="d-flex">
            <h4 class="store-name">FROM Suresh Store</h4>
            <button class="btn order-now-btn ms-5 ">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="top-left">
        <img src="assets/images/offers/carousel-top-left.png" alt="" />
      </div>
      <img
        src="../../assets/images/offers/carousel.png"
        alt="offers"
        class="offes-banner"
      />
      <div class="bottom-right">
        <img src="assets/images/offers/carousel-bottom-right.png" alt="" />
      </div>
    </div>
    <div class="carousel-caption">
      <div class="d-flex">
        <div class="col-4">
          <img src="assets/images/offers/grocery.png" alt="" class="col-4">
        </div>
        <div class="col-8 text-start ms-5">
          <h2 class="offer-titel">TODAY'S SPECAIL OFFER</h2>
          <h3 class="percentage-discount">GET upto 25% on orders above 599*</h3>
          <div class="d-flex ">
            <h4 class="store-name">FROM Suresh Store</h4>
            <button class="btn order-now-btn ms-5 ">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>



<section class="container-fluid">
  <div class="shop-by-categoires">
    <div class=" mt-10 mb-5">
      <h2 class="text-center shop-by-categoires-heading">Shop by Categoires</h2>
    </div>
    <div class="row">
      <div class="col-sm">
          <a href="" class="medical-stores text-decoration-none">
            <img src="assets/images/shop-categories/medical.png" alt="" class="shops-by-category-logos">
              <span class="shop-titel titel-1">Medical Stores</span>
          </a>
      </div>
      <div class="col-sm">
          <a href="" class="Grocery-stores text-decoration-none">
            <img src="assets/images/shop-categories/grocery.png" alt="" class="shops-by-category-logos">
              <span class="shop-titel titel-2">Grocery Stores</span>
          </a>
      </div>
      <div class="col-sm">
          <a href="" class="Liquor-stores text-decoration-none">
            <img src="assets/images/shop-categories/liquor.png" alt="" class="shops-by-category-logos">
              <span class="shop-titel titel-3">Liquor Stores</span>
          </a>
      </div>
      <div class="col-sm">
          <a href="" class="Fruits-Vegetables text-decoration-none">
            <img src="assets/images/shop-categories/fruits-vegetables.png" alt="" class="shops-by-category-logos">
              <span class="shop-titel titel-4">Fruits & Vegetables</span>
          </a>
      </div>
      <div class="col-sm">
          <a href="" class="from-farms text-decoration-none">
            <img src="assets/images/shop-categories/farms.png" alt="" class="shops-by-category-logos">
              <span class="shop-titel titel-5">From the Farms (FPO's)</span>
          </a>
      </div>
      <div class="col-sm">
        <a href="" class="terrace-gardens text-decoration-none">
          <img src="assets/images/shop-categories/terrace-garden.png" alt="" class="shops-by-category-logos">
          <span class="shop-titel titel-6">Terrace Gardens</span>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid">
  <div class="highlights-heading mt-10">
    <div class="todays-highlights">
      <h3 class="todays-highlights-titel text-start mb-4">Todays's Highlights</h3>
    </div>
    <div class="row">
      <div class="col-4">
          <div class=" highlight highlights-1">
              <div class="row align-items-center highlights-content ">
                <div class="col-sm">
                  <h2 class="highlight-titel">Abhijeeth
                    Wines</h2>
                    <h4 class="varieties-in-shops-titel">Wide Variety of Wines <br> Rum, Whiskey, Vodka..</h4>
                    <h3 class="discount-upto">Up to 30 % off</h3>
                </div>
                <div class="col-sm">
                    <img src="../../assets/images/highlights/highlights-image-1.png" alt="" class="varieties-in-shops-img-1 varietey-shops">
                </div>
              </div>
          </div>
      </div>
      <div class="col-4">
        <div class=" highlight highlights-2">
          <div class="row align-items-center highlights-content">
            <div class="col-sm">
              <h2 class="highlight-titel">Bhabji Sabji</h2>
                <h4 class="varieties-in-shops-titel">Fresh & Hygiene <br> Fruits, Vegetables, Exo..</h4>
                <h3 class="discount-upto">Up to 30 % off</h3>
            </div>
            <div class="col-sm">
                <img src="../../assets/images/highlights/highlights-image-2.png" alt="" class="varieties-in-shops-img-2 varietey-shops">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class=" highlight highlights-3">
          <div class="row align-items-center highlights-content">
            <div class="col-sm">
              <h2 class="highlight-titel">Meera Medical Store</h2>
                <h4 class="varieties-in-shops-titel">Medicines, Surgical
                  items, OTC products....  </h4>
                <h3 class="discount-upto">Up to 30 % off</h3>
            </div>
            <div class="col-sm">
                <img src="../../assets/images/highlights/highlights-image-3.png" alt="" class="varieties-in-shops-img-3 varietey-shops">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-popular-stores></app-popular-stores>
