ngb-carousel {
  max-width: 99%;
  margin: 50px auto;
  // height: 300px !important;
}
ngb-carousel img {
  width: 100%;
  height: 300px !important;
  outline: none;
}
ngb-carousel {
  width: inherit;
  height: inherit;
}
.carousel-inner {
  overflow: visible;
}
.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}
.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}
.carousel-indicators{
  z-index: 20;
}

.d-flex{
  align-items: center;
}

.offer-titel{
  font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 96px;
color: #48074E;
}
.percentage-discount{
  font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #6E00A3;
}
.store-name{
  font-weight: 600;
font-size: 36px;
line-height: 54px;
color: #48074E;
}

.order-now-btn{
  background: #6E00A3;
border-radius: 12px;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;

}

.shop-by-categoires-heading{
  font-weight: 600;
font-size: 36px;
line-height: 54px;
color: #2D3648;
}
.shops-by-category-logos{
  width: 144px;
  height: 160px;
  padding: 10px 0;
  margin-top: 10px;
}
.shop-titel{
  display: block;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.medical-stores{
  background: #E8F8F9;
border-radius: 10px;
width: 100%;
height: 88%;
display: block;
text-align: center;
.titel-1{
  color: #196766;
background: #B8EAED;
border-radius: 0px 0px 10px 10px;
}
}


.Grocery-stores{
  background: #F3ECFF;
  border-radius: 10px;
  width: 100%;
  height: 88%;
  display: block;
  text-align: center;
  .titel-2{
    color: #524075;
  background: #D0C3EA;
  border-radius: 0px 0px 10px 10px;
  }
}


.Liquor-stores{
  background: #FDF7E8;
  border-radius: 10px;
  width: 100%;
  height: 88%;
  display: block;
  text-align: center;
  .titel-3{
    color: #7A6327;
  background: #EDD28D;
  border-radius: 0px 0px 10px 10px;
  }
}

.Fruits-Vegetables{
  background: #EEFFDC;
  border-radius: 10px;
  width: 100%;
  height: 88%;
  display: block;
  text-align: center;
  .titel-4{
    color: #489000;
  background: #C4E7A1;
  border-radius: 0px 0px 10px 10px;
  }
}

.from-farms{
  // background: #E6FDF0;
  background: #E6FDF0;
  border-radius: 10px;
  width: 100%;
  height: 88%;
  display: block;
  text-align: center;
  .titel-5{
    color: #42564B;
  background: #A4D3B8;
  border-radius: 0px 0px 10px 10px;
  }
}

.terrace-gardens{
  background: #FFEADC;
  border-radius: 10px;
  width: 100%;
  height: 88%;
  display: block;
  text-align: center;
  .titel-6{
    color: #74542E;
  background: #E7BB87;
  border-radius: 0px 0px 10px 10px;
  }
}



// Todays's Highlights

.todays-highlights-titel{
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
color: #2D3648;
}

.highlight{
  // width: 100%;
  width: 500px;
height: 250px;
background: #C4C4C4;
border-radius: 20px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover

}

.highlights-1{
  background-image: url(../../assets/images/highlights/highlights-banner-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
}
.highlights-2{
  background-image: url(../../assets/images/highlights/highlights-banner-2.png);
}
.highlights-3{
  background-image: url(../../assets/images/highlights/highlights-banner-3.png);
}

.highlights-content{
  padding: 5%;
}

.highlight-titel{
  font-weight: 600;
font-size: 30px;
line-height: 45px;
color: #FAFF00;
}


.varieties-in-shops-titel{
  font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}


.discount-upto{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FAFF00;
}

.varietey-shops{
  width: 180px;
  height: 180px;
  border-radius: 12px;
}
.varieties-in-shops-img-1{
  border: 10px solid #FF3D00;
}

.varieties-in-shops-img-2{
  border: 10px solid #38A000;
}
.varieties-in-shops-img-3{
  border: 10px solid #7574FF;
}
