<app-local-navbar></app-local-navbar>
<div>
  <div class="store_img_fixed">
    <img
      src="../../assets/images/store-images/bhabji-sabji-store.png"
      alt="Bhabji-sabji-store-image"
      class="store-1_img_resolution"
    />
    <div class="store_description_card">
      <img
        src="../../assets/images/store-images/back-arrow.png"
        alt="Back"
        class="back-arrow_alignment"
      />
      <div class="store_name">Bhabji Sabji</div>
      <div class="store_address">
        <div>
          Vegetables, Fruits, Greens East Maredpally, Secunderabad, Hyderabad
        </div>
        <div>Open now - 9am - 9pm</div>
      </div>
      <div class="store_rating">
        <div class="ms-1">4.5</div>
        <div style="font-size: 13px; margin: 2px 0 0 2px">
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <app-store-navbar></app-store-navbar>
</div>
