<ngx-spinner type="ball-scale-multiple"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<app-top-search-nav-bar></app-top-search-nav-bar>
<app-top-menu-nav-bar></app-top-menu-nav-bar>
<app-alert [alerts]="alerts"></app-alert>
<div class="d-flex gap-5 justify-content-center mt-3">
  <div
    [class.active-tab]="activeTab === profileActiveTab.profileSettings"
    class="cursor-pointer settings"
    (click)="onProfileSettingsClick()"
  >
    Profile Settings
  </div>
  <div
    [class.active-tab]="activeTab === profileActiveTab.manageAddresses"
    class="cursor-pointer settings"
    (click)="onManageAddressClick()"
  >
    Manage Addresses
  </div>
</div>

<form [formGroup]="profileForm" *ngIf="isProfileSection">
  <div class="w-50 card my-4 m-auto">
    <div class="card-body pe-0">
      <div class="row">
        <div class="profile-pic">
          <label class="-label" for="file">
            <span class="glyphicon glyphicon-camera"></span>
            <span
              ><i
                class="fa-solid fa-camera"
                style="margin-top: 9px; margin-left: 0px; padding-left: 1px"
              ></i>
              <span class="ms-2">Change Image</span></span
            >
          </label>
          <input
            clas="input-image"
            id="file"
            type="file"
            (change)="uploadImage($event)"
          />
          <img
            [src]="profile?.userImage"
            alt="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg"
            id="output"
            width="200"
          />
        </div>

        <div class="row">
          <div class="offset-sm-1 col-sm-8">
            <label for="name">Name</label>
            <input
              id="name"
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Enter Your Name"
              [ngClass]="{ 'is-invalid': f?.name?.errors }"
            />
            <div *ngIf="f?.name?.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
              <div *ngIf="f.name.errors.minlength">
                Name must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="col-sm-3 px-0 align-self-end">
            <ng-container
              *ngIf="profileForm.get('name')?.disabled"
              [ngTemplateOutlet]="changeTemplate"
              [ngTemplateOutletContext]="{ item: 'name' }"
            ></ng-container>
            <ng-container
              *ngIf="!profileForm.get('name')?.disabled"
              [ngTemplateOutlet]="updateTemplate"
              [ngTemplateOutletContext]="{ item: 'name' }"
            ></ng-container>
            <ng-container
              *ngIf="!profileForm.get('name')?.disabled"
              [ngTemplateOutlet]="cancelTemplate"
              [ngTemplateOutletContext]="{ item: 'name' }"
            ></ng-container>
          </div>
        </div>
        <div class="row mt-2">
          <div class="offset-sm-1 col-sm-8">
            <label for="email">Email</label>
            <input
              id="email"
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="Enter Email"
              [ngClass]="{ 'is-invalid': f?.email?.errors }"
            />
            <div *ngIf="f?.email?.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email is invalid</div>
            </div>
          </div>

          <div class="col-sm-3 px-0 align-self-end">
            <ng-container
              *ngIf="profileForm.get('email')?.disabled"
              [ngTemplateOutlet]="changeTemplate"
              [ngTemplateOutletContext]="{ item: 'email' }"
            ></ng-container>
            <ng-container
              *ngIf="!profileForm.get('email')?.disabled"
              [ngTemplateOutlet]="updateTemplate"
              [ngTemplateOutletContext]="{ item: 'email' }"
            ></ng-container>
            <ng-container
              *ngIf="!profileForm.get('email')?.disabled"
              [ngTemplateOutlet]="cancelTemplate"
              [ngTemplateOutletContext]="{ item: 'email' }"
            ></ng-container>
          </div>
        </div>
        <div class="row mt-2">
          <div class="offset-sm-1 col-sm-8">
            <label for="mNumber">Mobile Number</label>
            <input
              id="mNumber"
              type="text"
              class="form-control"
              formControlName="mobileNumber"
              placeholder="Enter Number"
              [ngClass]="{ 'is-invalid': f?.mobileNumber?.errors }"
            />
            <div *ngIf="f?.mobileNumber?.errors" class="invalid-feedback">
              <div
                *ngIf="
                  f.mobileNumber.errors.minlength ||
                  f.mobileNumber.errors.maxlength
                "
              >
                Please enter a valid mobile number
              </div>
            </div>
          </div>
          <div class="col-sm-3 px-0 align-self-end">
            <ng-container
              *ngIf="
                profileForm.get('mobileNumber')?.disabled &&
                !hideMobileNumberActions
              "
              [ngTemplateOutlet]="changeTemplate"
              [ngTemplateOutletContext]="{ item: 'mobileNumber' }"
            ></ng-container>
            <ng-container
              *ngIf="
                !profileForm.get('mobileNumber')?.disabled &&
                !hideMobileNumberActions
              "
              [ngTemplateOutlet]="verifyTemplate"
              [ngTemplateOutletContext]="{ item: 'mobileNumber' }"
            ></ng-container>
            <ng-container
              *ngIf="
                !profileForm.get('mobileNumber')?.disabled &&
                !hideMobileNumberActions
              "
              [ngTemplateOutlet]="cancelTemplate"
              [ngTemplateOutletContext]="{ item: 'mobileNumber' }"
            ></ng-container>
          </div>
        </div>
        <div *ngIf="!hideOtpSection" class="row mt-2">
          <div class="offset-sm-1 col-sm-8">
            <label for="otp">Enter OTP</label>
            <input
              id="otp"
              type="text"
              class="form-control"
              formControlName="otp"
              placeholder="Enter OTP"
            />
          </div>
          <div class="col-sm-3 px-0 align-self-end">
            <span
              (click)="onConfirmOtp()"
              class="mx-3 cursor-pointer confirm-btn-txt"
              >CONFIRM</span
            >
            <ng-container
              [ngTemplateOutlet]="cancelTemplate"
              [ngTemplateOutletContext]="{ item: 'otp' }"
            ></ng-container>
          </div>
        </div>
        <div *ngIf="!isPasswordChange; else passwordChange" class="row mt-2">
          <div class="offset-sm-1 col-sm-8">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Change Password"
            />
          </div>
          <div class="col-sm-3 px-0 align-self-end">
            <ng-container
              *ngIf="profileForm.get('password')?.disabled"
              [ngTemplateOutlet]="changeTemplate"
              [ngTemplateOutletContext]="{ item: 'password' }"
            ></ng-container>
            <ng-container
              *ngIf="!profileForm.get('password')?.disabled"
              [ngTemplateOutlet]="updateTemplate"
              [ngTemplateOutletContext]="{ item: 'password' }"
            ></ng-container>
            <ng-container
              *ngIf="!profileForm.get('password')?.disabled"
              [ngTemplateOutlet]="cancelTemplate"
              [ngTemplateOutletContext]="{ item: 'password' }"
            ></ng-container>
          </div>
        </div>
        <ng-template #passwordChange>
          <div class="row mt-2">
            <div class="offset-sm-1 col-sm-8">
              <div class="password-container">
                <ng-container
                  [ngTemplateOutlet]="showHidePassword"
                  [ngTemplateOutletContext]="{ item: 'newPassword' }"
                ></ng-container>
                <label for="newPassword">New Password</label>
                <input
                  id="password"
                  [type]="hidePassword ? 'password' : 'text'"
                  class="form-control"
                  formControlName="newPassword"
                  placeholder="New Password"
                  [ngClass]="{
                    'is-invalid': f.newPassword.errors
                  }"
                />
                <div *ngIf="f.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="f.newPassword.errors.minlength">
                    Password must be at least 8 characters
                  </div>
                  <div *ngIf="f.newPassword.errors.maxlength">
                    Password must not exceed 40 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="offset-sm-1 col-sm-8">
              <div class="password-container">
                <ng-container
                  [ngTemplateOutlet]="showHidePassword"
                  [ngTemplateOutletContext]="{ item: 'confirmPassword' }"
                ></ng-container>
                <label for="cPassword">Confirm Password</label>
                <input
                  id="cPassword"
                  [type]="hideConfirmPassword ? 'password' : 'text'"
                  class="form-control"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                  [ngClass]="{
                    'is-invalid': f.confirmPassword.errors
                  }"
                />
                <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f.confirmPassword.errors.matching">
                    Confirm Password does not match
                  </div>

                  <div *ngIf="f.confirmPassword.errors.minlength">
                    Password must be at least 8 characters
                  </div>
                  <div *ngIf="f.confirmPassword.errors.maxlength">
                    Username must not exceed 40 characters
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 px-0 align-self-end">
              <ng-container
                *ngIf="!profileForm.get('confirmPassword')?.disabled"
                [ngTemplateOutlet]="updateTemplate"
                [ngTemplateOutletContext]="{ item: 'confirmPassword' }"
              ></ng-container>
              <ng-container
                *ngIf="!profileForm.get('confirmPassword')?.disabled"
                [ngTemplateOutlet]="cancelTemplate"
                [ngTemplateOutletContext]="{ item: 'confirmPassword' }"
              ></ng-container>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</form>

<div *ngIf="!isProfileSection" class="card mt-4 w-50 p-4 profile-card">
  <div class="row offset-1">
    <div>
      <p class="select-address">Select Address:</p>
    </div>
    <div
      class="d-flex align-items-center"
      *ngFor="let address of savedAddresses"
    >
      <div class="col-sm-9 saved-address cursor-pointer mb-1 mt-2">
        <div class="row align-items-center address-section">
          <div class="w-25" *ngIf="address.type === 'home'">
            <img
              src="../../../../../assets/images/home.png"
              height="35px"
              width="40px"
            />
            <p class="address-category">Home</p>
          </div>
          <div class="w-25" *ngIf="address.type === 'work'">
            <img
              src="../../../../../assets/images/work.png"
              height="35px"
              width="40px"
            />
            <p class="address-category">Work</p>
          </div>
          <div class="w-25" *ngIf="address.type === 'other'">
            <div class="other-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p class="address-category">Other</p>
          </div>
          <div class="w-75">
            <h5 class="address-heading">{{ address.city }}</h5>
            <p class="address-in-area-category">
              {{ address.area }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm address-edit-section d-flex justify-content-center">
        <span> <i class="fa-solid fa-pen"></i> </span>
      </div>
      <div class="col-sm address-edit-section d-flex justify-content-center">
        <span> <i class="fa-solid fa-trash"></i> </span>
      </div>
    </div>
    <div class="d-flex mt-3">
      <button class="btn col-sm-7 offset-2 add-address text-center">
        + Add Address
      </button>
    </div>
  </div>
</div>

<ng-template #changeTemplate let-item="item">
  <span (click)="onChange(item)" class="mx-3 cursor-pointer confirm-btn-txt"
    >CHANGE</span
  >
</ng-template>

<ng-template #verifyTemplate let-item="item">
  <span (click)="onVerify(item)" class="mx-3 cursor-pointer confirm-btn-txt"
    >VERIFY</span
  >
</ng-template>

<ng-template #updateTemplate let-item="item">
  <span (click)="onUpdate(item)" class="mx-3 cursor-pointer confirm-btn-txt"
    >UPDATE</span
  >
</ng-template>

<ng-template #cancelTemplate let-item="item">
  <span (click)="onCancel(item)" class="mx-3 cursor-pointer confirm-btn-txt"
    >CANCEL</span
  >
</ng-template>

<ng-template #showHidePassword let-item="item">
  <div class="input-group-addon">
    <div *ngIf="item === profileControls.newPassword; else confirmPassword">
      <a
        ><i
          *ngIf="
            !f?.newPassword?.errors &&
            profileForm?.get('newPassword')?.value?.length > 0
          "
          [ngClass]="hidePassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
          id="eyeicon"
          (click)="showPassword(item)"
          aria-hidden="true"
        ></i
      ></a>
    </div>
  </div>
  <ng-template #confirmPassword>
    <a
      ><i
        *ngIf="
          !f?.confirmPassword?.errors &&
          profileForm?.get('confirmPassword')?.value?.length > 0
        "
        [ngClass]="hideConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
        id="eyeicon"
        (click)="showPassword(item)"
        aria-hidden="true"
      ></i
    ></a>
  </ng-template>
</ng-template>
