@import "../../../../../variable";

.camera-background {
  padding: 40px;
  border: 1px solid $border-color;
  font-size: 30px;
  border-radius: 60px;
  background: $border-color;
}

.profile-card {
  height: 400px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.profile-icon {
  margin-left: 30%;
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.profile-text {
  font-weight: 700;
  color: $orange;
}

.cancel-text {
  background: $whiteFontColor;
  color: $nav-text-color;
  border-color: $border-color;
}

.save-btn-text {
  background: $orange;
  color: $whiteFontColor;
}

.other-icon {
  border: 1px solid #6a6868;
  border-radius: 50%;
  width: 40px;
  height: 35px;
  text-align: center;
  span {
    width: 5px;
    height: 5px;
    background-color: #6a6868;
    display: inline-block;
    margin: 1px 1px;
    border-radius: 50%;
    margin-top: 15px;
  }
}

.active-tab {
  padding-bottom: 4px;
  color: #ff7a00;
  border-bottom: 4px solid #ff7a00;
}

// .form-control:disabled {
//   background-color: inherit;
// }