<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div>
  <app-alert [alerts]="alerts"></app-alert>
  <app-landinglogo></app-landinglogo>
  <div class="d-flex">
    <div class="col-sm col-lg col-md col-md col-lg justify-content-center">
      <app-login-img></app-login-img>
    </div>
    <div
      class="col-sm col-lg col-md col-md col-lg justify-content-center mt-4 z-index-local d-flex height-fit-content"
      style="justify-content: space-around"
    >
      <div class="card mw-10 w-55 p-3">
        <div class="card-body">
          <div class="text-start">
            <h3 class="login-heading">Login</h3>
            <h4 class="login-sub-title sub-heading-font-size">
              We connect you with Your beloved Shops
            </h4>
          </div>
          <form class="login-form" [formGroup]="loginForm">
            <div class="mb-2">
              <label for="user-id" class="local-form-label">Email ID</label>
              <input
                type="text"
                class="form-control"
                id="user-id"
                placeholder="Enter Email"
                name="email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }"
              />
              <div
                *ngIf="submitted && f?.email?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
              </div>
            </div>
            <div class="show_hide_password">
              <label for="password" class="local-form-label">Password</label>
              <div class="input-group-addon">
                <a ><i class="fa fa-eye-slash" id="eyeicon" (click)="myFunction()" aria-hidden="true"></i></a>
              </div>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder="Enter Password"
                name="password"
                [type]="hide ? 'password' : 'text'"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <div *ngIf="f?.password?.errors" class="invalid-feedback">
                <div *ngIf="f.password?.errors?.required">
                  Password is required
                </div>
                <div *ngIf="f.password?.errors?.minlength">
                  Password must be at least 5 characters
                </div>
                <div *ngIf="f.password.errors.maxlength">
                  Username must not exceed 20 characters
                </div>
              </div>
            </div>
            <div class="text-end forgot-password mb-1">
              <a
                class="text-decoration-none local-form-label orange cursor-pointer"
                (click)="navigateForgetPassword()"
                >Forgot Password ?</a
              >
            </div>
            <div class="agree-text">
              <p class="m-none">
                By continuing, you agree to our
                <a class="text-decoration-none orange">Privacy Policy</a>,
                <br />Terms and Conditions applied.
              </p>
            </div>
            <button class="login-submit-btn btn" (click)="login()">
              Log In
            </button>
            <p class="text-center or-text m-0 mt-1 mb-1"><span>or</span></p>
            <button class="request-otp-btn btn" (click)="requestOTP()">
              Request OTP
            </button>
          </form>
          <div class="new-account text-center">
            <p>
              New to Local ?
              <a
                class="text-decoration-none create-account cursor-pointer"
                (click)="navigateToAccount()"
                >Create your account</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <img
      src="../../../../assets/images/login-banner.png"
      class="banner-one d-flex mw-10"
    />
  </div>
</div>
