<app-top-search-nav-bar></app-top-search-nav-bar>

<div #storeDetails class="d-flex position-sticky store-details">
  <div class="store-description">
    <img src="../../assets/images/store-images/back-arrow.png" class="cursor-pointer" (click)="navigateToDashBoard()" alt="Back" />
    <div class="store-content">
      <h3 class="text-white">Bhabji Sabji</h3>
      <div class="text-white mt-1">Vegetables, Fruits, Greens</div>
      <div class="text-white mt-1">
        East Maredpally, Secunderabad, Hyderabad
      </div>
      <div class="text-white mt-1">Open now - 9am - 9pm</div>
      <div class="d-flex align-items-center mt-2 store-rating-container">
        <div class="store-rating">4.5</div>
        <div class="mx-1 fs-10">
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Need to remove inline styles -->

<div class="container-fluid ps-0">
  <div class="row">
    <div class="left-nav">
      <div
        class="card text-end today-deal-container">
        <div class="card-body">
          <span style="font-weight: 700">Today's Deals</span>
        </div>
      </div>
      <div
        class="card text-end categories-container">
        <div class="card-body pe-0">
          <div style="font-weight: 700; padding-right: 20px">Categories</div>
          <div
            *ngFor="let item of categories"
            style="padding-right: 20px"
            class="mt-2 cursor-pointer"
            [class.selected-category]="selectedCategoryId === item.id"
            [ngStyle]="{
              color: selectedCategoryId === item.id ? '#5BB600' : '#929292'
            }"
            (click)="onSelectCategory(item.id)"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" style="height: 1000px">
      <div
        class="row content-header">
        <div class="col-8">
          <div
            class="d-flex mt-4 justify-content-around"
            style="
              padding-bottom: 8px;
            "
          >
            <span
              *ngFor="let item of storeNavItems"
              class="cursor-pointer"
              [class.selected-nav-item]="selectedStoreNavId === item.id"
              [ngStyle]="{
                color: selectedStoreNavId === item.id ? '#5BB600' : '#929292'
              }"
              (click)="onSelectNavItem(item.id)"
              >{{ item.name }}</span
            >
          </div>
        </div>
        <div class="col-4">
          <input class="form-control mt-2" placeholder="Search for Products" />
        </div>
        <span class="divider"></span>
      </div>
      <div class="products-container">
        <div *ngFor="let product of products" class="products">
          <div
            class="flex justify-content-between"
            style="height: 77px"
          >
            <div>
              <div *ngIf="product?.discount" class="offer-tag">
                <div class="offer-text">
                  <div>{{ product.discount }} %</div>
                  <div class="me-2">Off</div>
                </div>
              </div>
            </div>
            <div style="margin: 10px 10px 0 0">
              <i class="fa-solid fa-heart heart-color"></i>
            </div>
          </div>
          <div class="product-image">
            <img
              [src]="product.image"
              width="80px"
              height="80px"
              alt="Coriander"
            />
          </div>
          <div class="item-name">{{ product.name }}</div>
          <div class="item-weight">{{ product.quantity }}</div>
          <div class="flex justify-content-between">
            <div>
              <div class="item-price mt-2">₹{{ product.price }}</div>
              <div *ngIf="product.oldPrice" class="item-old-price">
                <del>₹{{ product.oldPrice }}</del>
              </div>
            </div>
            <div *ngIf="product.count === 0" class="add-item cursor-pointer">
              <div
                class="add-item-text"
                (click)="updateCount(product.id, true)"
              >
                Add +
              </div>
            </div>
            <div *ngIf="product.count !== 0" class="added-to-cart">
              <span
                class="increment-decrement cursor-pointer"
                (click)="updateCount(product.id, false)"
                >-</span
              >
              <span
                class="product-count"
                >{{ product.count }}</span
              >
              <span
                class="increment-decrement cursor-pointer"
                (click)="updateCount(product.id, true)"
                >+</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-3 mt-4 right-container"
    >
      <div class="d-flex flex-column" style="gap: 20px">
        <div class="card ms-3 offer-border-color">
          <a class="prev" (click)="slideChange(-1)"
            ><img
              src="../../../assets/images/left-vector.png"
              alt="Previous"
              width="9px"
          /></a>
          <div class="card-body p-1 fs-11">
            <div *ngFor="let offer of offers" class="myOffers">
              <div class="d-flex justify-content-around">
                <img
                  src="../../../assets/images/offer-green.png"
                  alt=""
                  width="30px"
                  height="30px"
                />
                <div>
                  <div>{{ offer.offerText }}</div>
                  <div class="text-start">
                    Use code <b>{{ offer.coupon }}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="next" (click)="slideChange(1)"
            ><img
              src="../../../assets/images/right-vector.png"
              alt="Next"
              width="9px"
          /></a>
        </div>
        <div class="dot-container">
          <span *ngFor="let offer of offers; index as idx">
            <span class="dot" (click)="currentSlideIndicator(idx + 1)"></span>
          </span>
        </div>
        <div *ngIf="!cart.length; else elseTemplate">
          <img width="100%" src="assets/images/cart-empty.png" />
        </div>
        <ng-template #elseTemplate>
          <ng-container
            *ngTemplateOutlet="cartTemplate; context: { $implicit: cart }"
          ></ng-container>
        </ng-template>
      </div>
    </div>
  </div>
  <hr />
</div>

<ng-template #cartTemplate let-product>
  <div class="card text-center">
    <h6 class="card-header cart-header">
      Items from Bhabji Sabji
    </h6>
    <div class="card-body">
      <div *ngFor="let item of cart">
        <div class="flex mt-3">
          <div class="w-50">
            <div class="item-name text-start fs-14">
              {{ item.name }}
            </div>
            <div class="item-weight text-start fs-12">
              {{ item.quantity }}
            </div>
          </div>
          <div class="flex w-25 updated-count">
            <span
              (click)="updateCount(item.id, false)"
              class="increment-decrement cursor-pointer"
              >-</span
            >
            <span class="cart-item-count">{{
              item.count
            }}</span>
            <span
              (click)="updateCount(item.id, true)"
              class="increment-decrement cursor-pointer"
              >+</span
            >
          </div>
          <div class="w-25">
            <div class="item-price fs-14">
              ${{ item.price }}
            </div>
            <div
              *ngIf="item.oldPrice"
              class="item-old-price fs-12"
            >
              <del>${{ item.oldPrice }}</del>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div class="flex">
        <div class="w-50">
          <div class="item-name text-start fs-14">
            Subtotal
          </div>
          <div class="item-weight text-start fs-10">
            Extra Charges may apply
          </div>
        </div>
        <div class="w-25"></div>
        <div class="item-price w-25 fs-14">
          ₹{{ cartTotal }}
        </div>
      </div>
      <div class="w-100 checkout-box cursor-pointer mt-3" style="height: 35px">
        <div style="font-size: larger">Checkout</div>
      </div>
    </div>
  </div>
</ng-template>
