.store-description {
  h3 {
    color: white;
  }
}

.store-details {
  height: 300px;
  background-image: url(../../../../assets/images/store-images/bhabji-sabji-store.png);
  background-size: cover;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 2;

  img {
    margin: 30px;
    height: 20px;
  }
}

.store-content {
  margin-left: 20%;
}

.store-rating-container {
  background-color: white;
  width: 60px;
  justify-content: center;
  border-radius: 5px;
  color: #5bb600;
}
.store_img_fixed {
}
.store_img_shrink {
  position: sticky;
  top: 0;
  height: 0;
  z-index: 2;
  transform: scaleY(0.61224);
  transition: transform 0.2s ease-in-out 0.3s;
}
.img-after-shrink {
  transform: translate3d(0, -27.5px, 0) scaleY(1.5);
  height: 250px;
}

.store-rating {
  font-weight: 500;
  color: #5bb600;
}
