<!-- <section class="container-fluid">
  <app-landinglogo></app-landinglogo>
  <div class="local">
    <h1>Welcome to the <span class="orange">LOCAL</span> family</h1>
    <h3>Continue as:</h3>
  </div>
  <div class="row">
    <div class="col-sm col-lg col-md">
      <div class="retailer">
        <img
          src="../../../assets/images/retailer.png"
          alt=""
          class="retailer-img"
        />
        <p>
          A platform to connect with customers and suppliers for hurdle free
          buying and selling of products.
        </p>
        <button class="btn">Retailer</button>
      </div>
    </div>
    <div class="col-sm col-lg col-md">
      <div class="consumer">
        <img
          src="../../../assets/images/consumer.png"
          alt=""
          class="consumer-img"
        />
        <p>
          A platform for the customer’s to buy products online from their
          favourite retail stores nearby.
        </p>
        <button class="btn">Consumer</button>
      </div>
    </div>
  </div>
</section> -->
<app-store-card-copy></app-store-card-copy>
