
<app-offer-tag></app-offer-tag>
<div
  class="store-img cursor-pointer" (click)="onCardClick()"
  [style.background-image]="'url(' + nearByStoreData.shopImage + ')'"
></div>
<div class="p-1">
  <div class="d-flex row m-0">
    <div class="col fw-semibold store-title mt-1">
      <span>{{ nearByStoreData.shopTitel }}</span>
    </div>
    <div class="rating shop-rating-card">
      <i class="fa-solid fa-star star-calss">
        <span class="ps-2">{{ nearByStoreData.rating }}</span>
      </i>
    </div>
  </div>

  <div class="d-flex row m-0">
    <div class="col fw-semibold store-title mt-1 ">
      <span class="shop-rating-card-store cursor-pointer" (click)="onCardClick()">Goto Store</span>
    </div>
    <div style="
      width: 24%;
      margin-top: 5px;
      flex: 0.25 0%;">
        {{ nearByStoreData.kilometers }}km
    </div>
  </div>
  <!-- <div class="d-flex row">
    <div class="d-flex white_color">Goto Store</div>
    <div class="d-flex popular-store-category mt-1 justify-content-end">
      {{ nearByStoreData.kilometers }}km
    </div>
  </div> -->
  <!-- <div>
    <div class="flex justify-content-evenly shop-rating-card">
     
      
    </div>
    <div class="d-flex popular-store-category mt-1 justify-content-end">
      {{ nearByStoreData.kilometers }}km
    </div>
  </div> -->
</div>
<div class="card-padding">
  <div class="bdr-btm"></div>
  <div class="mt-2 fs-14">
    <span
      ><img
        src="../../../assets/images/popular-stores/percentage-icon.png"
        alt=""
        class="percentage-icon"
    /></span>
    <span class="orange-clr"> {{ nearByStoreData.discountText }} % off </span>
    <span class="coupon-divider"></span>
    <span class="orange-clr">Use NEWSTORE</span>
    <span class="heart-container"
      ><i
        class="fa-regular fa-heart cursor-pointer"
        *ngIf="!favoriteIconColor"
        (click)="favoriteIconClick()"
      ></i>
      <i
        class="fa-solid fa-heart"
        *ngIf="favoriteIconColor"
        [ngClass]="{ favColor: favoriteIconColor }"
        (click)="favoriteIconClick()"
      ></i>
    </span>
  </div>
</div>
