<!-- <div class="offer-tag">
  <div class="offer-text">
    <div class="offer-percentage">
      <div>{{ nearByStoreData.percentageText }}%</div>
      <div>OFF</div>
    </div>
  </div>
</div> -->
<app-offer-tag></app-offer-tag>
<div
  class="store-img"
  [style.background-image]="'url(' + nearByStoreData.shopImage + ')'"
></div>
<div class="flex justify-content-between p-2">
  <div>
    <div class="fw-semibold store-title mt-1">
      {{ nearByStoreData.shopTitel }}
    </div>
    <div class="popular-store-category text-capitalize mt-2">
      {{ nearByStoreData.storeCatogery }}
    </div>
  </div>
  <div>
    <div class="flex justify-content-evenly shop-rating-card">
      <div class="d-flex white_color">
        <i class="fa-solid fa-star star-calss" style="padding-right: 4px"></i>
      </div>
      <div class="rating">
        {{ nearByStoreData.rating }}
      </div>
    </div>
    <div class="d-flex popular-store-category mt-1 justify-content-end">
      {{ nearByStoreData.kilometers }}km
    </div>
  </div>
</div>
<div style="padding: 6px">
  <div style="border-bottom: 1px solid #c4c4c4"></div>
  <div  class="mt-2 fs-14">
    <span
      ><img
        src="../../../assets/images/popular-stores/percentage-icon.png"
        alt=""
        class="percentage-icon"
    /></span>
    <span style="color: #ff7a00"> {{ nearByStoreData.discountText }} % off </span>
    <span class="coupon-divider"></span>
    <span style="color: #ff7a00">Use NEWSTORE</span>
    <span style="float: right;font-size: 20px;margin-top: -2px;"
    ><i class="fa-regular fa-heart" *ngIf="!favoriteIconColor" (click)="favoriteIconClick()"></i>
    <i class="fa-solid fa-heart" *ngIf="favoriteIconColor"  [ngClass]="{'favColor':favoriteIconColor}" (click)="favoriteIconClick()"></i>
        </span>
   
  </div>
</div>
