#navbar.layout2 #nav-belt {
 background-color: white !important;
}

.light-grey {
  color: #6a6868;
  font-weight: 600;
  font-size: 12px;
  line-height: 27px;
}

#navbar.layout2.bold-focus-hover #nav-search .nav-searchbar:hover{
   //box-shadow: none !important
}

.nav-left-border-border {
  border: 1px solid gray;
}

#navbar.layout2.bold-focus-hover #nav-search .nav-searchbar {
  box-shadow: 0 1px 4px 0 #000;
}