



<div class="container-fluid">
    <ul class="nav align-items-center" style="justify-content: space-between">
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="../../../../assets/images/brand-logo.png" alt="" class="brand-logo" />
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link">
          <div class="text-start " (click)="sidebarShow = !sidebarShow">
            <label for="" class="address-label">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Deliver to
            </label>
              <select name="" id="" class="border-0 address-heading" disabled>
                <option value="">R K Nagar, Secunderabad</option>
              </select>
          </div>
        </span>
      </li>
      <li class="nav-item">
        <span class="nav-link">
          <div class="d-flex">
            <div class="col-sm col-lg col-md searchbar">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <input
                type="search"
                class="form-control ds-input   border-0 col-5 fs-5"
                id="search-input"
                placeholder="Search for Products"
                aria-label="Search for.. "
              />
              <i class="fa fa-search" aria-hidden="true"></i>
  
            </div>
          </div>
        </span>
      </li>
      <li class="nav-item">
        <span class="nav-link">
            <span class="light-grey  text-decoration-none "
              >Offers</span
            >
        </span>
      </li>
      <li class="nav-item">
        <span class="nav-link">
          <span class="light-grey  text-decoration-none"
              >Profile</span
            ><b class="light-grey">/</b>
            <span class="text-decoration-none light-grey "
              >Login</span
            >
        </span>
      </li>
      <li class="nav-item">
        <span class="nav-link ">
          <span class="cart-btn ">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart2 me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
              /></svg>
            My Cart
          </span>
  
        </span>
      </li>
    </ul>
  </div>
  
  