<div
  [ngClass]="{ sticky: !store }"
  style="height: 70px"
  class="d-flex align-items-center position-sticky top-0"
>
  <div class="d-flex col-4 align-items-center justify-content-around">
    <img
      src="../../../../assets/images/brand-logo.png"
      alt=""
      width="100px"
      class="cursor-pointer"
      (click)="navigateDashBoard()"
    />
    <div
      class="text-start"
      data-bs-toggle="offcanvas"
      data-bs-target="#deliverAddress"
      aria-controls="deliverAddress"
      (click)="sidebarShow = !sidebarShow"
    >
      <label for="" class="address-label">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Deliver to
      </label>
      <select
        name=""
        id=""
        class="border-0 address-heading cursor-pointer"
        disabled
      >
        <option value="">R K Nagar, Secunderabad</option>
      </select>
    </div>
  </div>
  <!-- <div class="d-flex col-4 align-items-center">
    <select class="form-select" style="border:3px solid #f3f3f3;background: #f3f3f3;">
      <option selected="">All</option>
      <option value="prod">Search by products</option>
      <option value="store">Search by store</option>
      </select>
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder="Search for Products"
    />
    <i class="fa fa-search top-0 position-relative" style="left: -40px"></i>
  </div> -->

  <!-- <div class="container">
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept"><span class="glyphicon glyphicon-align-justify"></span> All</span>  <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains"> <span class="glyphicon glyphicon-envelope text-danger"></span> Email</a></li>
                      <li><a href="#its_equal"> <span class="glyphicon glyphicon-music text-warning"></span> Music</a></li>
                      <li><a href="#greather_than"> <span class="glyphicon glyphicon-user text-success"></span> Users</a></li>
                      <li><a href="#less_than"><span class="glyphicon glyphicon-book text-primary"></span> Books </a></li>
                      <li class="divider"></li>
                      <li><a href="#all"> <span class="glyphicon glyphicon-picture text-info"></span> Pictures</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                  <i class="fa fa-search top-0 position-relative"></i>
                </span>
            </div>
        </div>
	</div>
</div> -->

<div class="input-group">
  <div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
      Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else
        here</a></li>
    </ul>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search top-0 position-relative"></i></button>
</div>

  <div class="d-flex col-3 align-items-center justify-content-end gap-5">
    <div class="light-grey text-decoration-none">Offers</div>
    <div
      class="light-grey text-decoration-none cursor-pointer"
      *ngIf="isLoginUserFlag"
      (click)="navigateProfile()"
    >
      Profile
    </div>
    <a
      class="text-decoration-none light-grey cursor-pointer"
      *ngIf="!isLoginUserFlag"
      (click)="navigateLogin()"
      >Login</a
    >
    <span class="cart-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-cart2 me-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
        />
      </svg>
      My Cart
    </span>
  </div>
</div>
