$whiteFontColor:#ffffff;
$LightGreen: rgba(78, 182, 100, 0.6);
$boxShadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
$Lightblack:#454545;
$heading3:36px;
$btnOrange:#FF7A00;
$inputColor: #ADADAD;
$inputText:18px;
$orange:#FF7A00;
