$whiteFontColor: #ffffff;
$LightGreen: rgba(78, 182, 100, 0.6);
$boxShadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
$Lightblack: #454545;
$heading3: 36px;
$inputColor: #adadad;
$inputText: 18px;
$orange: #ff7a00;
$font-family: "Poppins" !important;
$font-style-normal: normal !important;
$font-weight-500: 500 !important;
$font-weight-600: 600 !important;
$font-size-30: 30px !important;
$line-height-45: 45px !important;
$nav-text-color: #949292;
$active-nav-item: #66A600;
$text-group: #2D3648;
$border-color: #c4c4c4;
$blackColor: #000000;
$errorColor: #dc3545;
$start-over-txt-clr: #007185;



