$whiteFontColor: #ffffff;
$LightGreen: rgba(78, 182, 100, 0.6);
$boxShadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
$Lightblack: #454545;
$heading3: 36px;
$btnOrange: #ff7a00;
$inputColor: #adadad;
$inputText: 18px;
$orange: #ff7a00;
$font-family: "Poppins" !important;
$font-style-normal: normal !important;
$font-weight-500: 500 !important;
$font-size-30: 30px !important;
$line-height-45: 45px !important;
