/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
// Functions first
@import "../node_modules/bootstrap/scss/functions";
// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
// Variables
@import "../src/variable";


* {
  box-sizing: border-box;
}

body {
  margin: 0; // 1
  font-family: var(--#{$prefix}body-font-family) !important;
  @include font-size(var(--#{$prefix}body-font-size));
  font-weight: var(--#{$prefix}body-font-weight) !important;
  line-height: var(--#{$prefix}body-line-height) !important;
  color: var(--#{$prefix}body-color) !important;
  text-align: var(--#{$prefix}body-text-align) !important;
  background-color: var(--#{$prefix}body-bg) !important; // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0) !important; // 4
}

// login //
.local-card-login {
  width: 61vh;
  height: 70vh;
  border-radius: 10px;
  box-shadow: $boxShadow;
  padding: 15px 20px;
  background-color: #fff;
  z-index: 9999;
}

.local-form-label {
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  // line-height: 24px !important;
  color: #8b8888 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.mt-10 {
  margin-top: 100px;
}

.orange {
  color: $orange !important;
}

.light-grey {
  color: #6a6868;
}

.login-sub-title {
  font-size: 16px;
  font-weight: 400;
  color: #8b8888;
}

.form-label {
  font-size: 14px;
  color: #8b8888;
  font-weight: 400;
}

.agree-text {
  color: #2d3648;
  font-size: 10px;
  a {
    color: $orange;
  }
}

.login-heading {
  font-weight: 500;
  font-size: 18px;
  color: #2d3648;
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid #c4c4c4 !important;
  border-radius: 5px !important;
  line-height: 22px !important;
  font-size: 12px !important;
  padding: 5px 10px;
}
.show_hide_password{
  position: relative;
}
.input-group-addon{
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 10;
  a{
    color: #8b8888;
    i{
      font-size: 14px;
    }
  }
}

.form-control::placeholder {
  color: #c4c4c4 !important;
  font-size: 12px !important;
  // line-height: 27px !important;
}

.new-account {
  margin: 15px 0;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  align-items: center;

  p {
    color: #838383;
    margin: 0;
    .create-account {
      color: #ff7a00;
    }
  }
}

.banner-one {
  // background-image: url(./assets/images/login-banner.png);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 31vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// navbar

.brand-logo {
  width: 70%;
}

.navbar-toggler {
  display: block !important;
}

@media (min-width: 500px) {
  .navbar-light .navbar-toggler {
    color: #fff;
    font-size: inherit;
    box-shadow: unset;
    border: none;
    padding: 0;
    display: block !important;
  }
}

// home offers-banner
.picsum-img-wrapper {
  position: relative;
  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 160px;
  }

  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    height: 160px;
  }
}

// app-login-otp {
//   .otp-input-data {
//     width: 30px;
//     height: 30px;
//     border: solid 1px #c5c5c5;
//     border: none;
//     border-bottom: 1px solid;
//     text-align: center;
//     font-size: 14px;
//   }
// }

// Sub heading Styles

.sub-heading-font-size {
  font-size: 1rem !important;
  font-size: 14px !important;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
  // margin-left: 17rem;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #4eb664;
}

.align-items-center {
  align-items: center;
}
.mat-stepper-next {
  border: 1px solid #2d3648;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  background-color: #fff;
}

::ng-deep ngx-intl-tel-input .country-dropdown,
::ng-deep .iti-arrow {
  display: none !important;
}

.login-submit-btn {
  width: 100%;
  padding: 5px 0;
  background: $orange;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  cursor: pointer !important;
}

.slick-prev:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f053" !important;
  color: #949292 !important;
}

.slick-next:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f054" !important;
  color: #949292 !important;
}

.alert-dismissible {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-left: 14px solid !important;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1rem 1rem !important;
}

.z-index-local{
  z-index: 9999 !important;
}

.w-65 {
  width: 65% !important;
}

.height-fit-content {
  height: fit-content;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.horizontal-divider {
  display: inline-block;
  margin: -2px 0.67375em 0;
  width: 1px;
  background-color: #ddd;
  line-height: 0;
  height: 14px;
  vertical-align: middle;
}

.white_color {
  color:$whiteFontColor
}


.w-55 {
  width: 55% !important;
}

::ng-deep .otp-input {
  width: 7vh !important;
  height: 5vh !important;
  font-size: 12px !important;
  margin-right: 5px !important;
}

app-carousel-banner {
  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}
}


::-webkit-scrollbar {
  width: 10px;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fd7e14;;
  border-radius: 3px;
}
