/* You can add global styles to this file, and also import other style files */

// Functions first
@import "../node_modules/bootstrap/scss/functions";
// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
// Variables
@import "../src/_varible";

@font-face {
   src: url(./assets/fonts/Poppins-Font-2/Poppins-Regular.ttf) format("opentype");
   font-family:"Poppins";
  //  src: url(assets/fonts/Poppins-Font-2/poppins-semibold1.ttf) format("opentype");
}

body {
  font-family:"Poppins" !important;
  // font-weight: 600;
}

.local-card-login {
  width: 61vh;
  height: fit-content;
  border-radius: 10px;
  box-shadow: $boxShadow;
  padding: 25px;
  background-color: #fff;
}

.local-form-label {
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  color: #8b8888 !important;
}

.mt-10 {
  margin-top: 100px;
}

.orange {
  color: $orange  !important;
}

.light-grey {
  color: #6a6868;
}

h3 {
  font-size: 24px;
  color: #2d3648;
  font-weight: 500;
}

.login-sub-titel {
  font-size: 20px;
  font-weight: 400;
  color: #8b8888;
}

.form-label {
  font-size: 16px;
  color: #8b8888;
  font-weight: 400;
}

.agree-text {
  color: #2d3648;
  font-size: 12px;
}

.login-heading {
  font-weight: 500;
  font-size: 24px;
  color: #2d3648;
  margin-bottom: 10px;
}

.login-sub-titel {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8b8888;
}

.form-control {
  border: 1px solid #c4c4c4 !important;
  border-radius: 5px !important;
  line-height: 22px !important;
}

.form-control::placeholder {
  color: #c4c4c4 !important;
  font-size: 16px !important;
  line-height: 27px !important;
}

.banner-one {
  background-image: url(assets/images/login-banner.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

// navbar

.brand-logo {
  width: 70%;
}

.navbar-toggler {
  display: block !important;
}

@media (min-width: 500px) {
  .navbar-light .navbar-toggler {
    color: #fff;
    font-size: inherit;
    box-shadow: unset;
    border: none;
    padding: 0;
    display: block !important;
  }
}

// home offers-banner

.picsum-img-wrapper {
  position: relative;

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 160px;
  }

  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    height: 160px;
  }
}

app-login-otp {
  .otp-input-data {
    width: 50px;
    height: 50px;
    border: solid 1px #c5c5c5;
    border: none;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 32px;
  }
}

// Sub heading Styles

.sub-heading-font-size {
  font-size: 1rem !important;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}