@import '../../../../varible';
.login-btn {
  font-size: 18px;
  padding: 4px 25px;
  color: $orange;
  border: 1px solid  $orange;
  border-radius: 10px;
  margin-left: 29rem !important;
  float: left;
}

.card-margin-left-7 {
  margin-left: 7rem;
}

.agree-text {
  color: #000000;
  margin-bottom: 10px;
}

.login-submit-btn {
  width: 100%;
  padding: 10px 0;
  background:  $orange;
  border-radius: 5px;
  font-style: normal;
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
}