<div class="container-fluid row">

  <div class="row" style=" margin: 5rem auto;">
    <div>

    </div>
    <!-- <div class="reticle-box"></div> -->
    <div class="card store-card-max-width p-0 ms-5">
      <div class="offer-tag">
        <div class="offer-text">
          <div>15%</div>
          <div>Off</div>
        </div>
      </div>
      <img
        class="card-img-top store-card-img-height"
        src="../../../assets/images/offers/newimag.jpg"
        alt="Card image cap"
      />
      <div class="card-body p-0 ps-2 pb-1" style="font-family: 'Poppins'">
        <div>
          <b class="store-name">Shiva Veggies mart</b>
          <span
            style="color: #fff"
            class="btn-grey-border mb-0 float-end new-class"
          >
            <i class="fa-solid fa-star star-calss"></i>
            <span style="padding-left: 0.6rem">3.5</span>
          </span>
        </div>
        <div class="store-category">Grocery Store</div>
      </div>
      <div class="card-footer bg-transparent ">
        <span class="align-items-center"
          ><i class="fa-solid fa-star" style="color: #ff7a00"></i>
          <span class="discount-in-percentage"> % Off</span>
          <span class="pipe-class">|</span>
          <span  class= "new-store">NEWSTORE</span>
        </span>
        <span>
          <i
            class="fa-solid fa-heart heart-color float-end"
            [ngClass]="getfavoriteStoreFlag ? 'fill-heart-color' : ''"
            (click)="getfavoriteStore(getfavoriteStoreFlag)"
          ></i
        ></span>
      </div>
    </div>

  </div>
</div>



